/* Basic link rules
-----------------------------*/
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: #000000; /* #000000 */
}


/* FEATURE: Versions Flash
-----------------------------*/

.versions-flash a:link,
.versions-flash a:visited,
.versions-flash a:hover,
.versions-flash a:focus,
.versions-flash a:active {
	color: #444444;
}

.versions-flash a:link .title,
.versions-flash a:visited .title {
	border-bottom-color: #C9E2AE;
}

.versions-flash .selected a:link .title,
.versions-flash .selected a:visited .title {
	border-bottom-color: #444444;
}

.versions-flash a:hover .title,
.versions-flash a:focus .title,
.versions-flash a:active .title,
.versions-flash .selected a:hover .title,
.versions-flash .selected a:focus .title,
.versions-flash .selected a:active .title {
	border-bottom-color: #ffffff;
}


/* VIEW: the grid
-----------------------------*/

.talk .options a:link,
.talk .options a:visited,
.talk .options a:hover,
.talk .options a:focus,
.talk .options a:active {
    background-color: #ddd; /* #999999 */
    color: #7e2b29;
}

.where-when,
.where-when a,
.where-when a:link,
.where-when a:visited,
.where-when a:hover,
.where-when a:focus,
.where-when a:active {
    color: #7e2b29; /* #555555 */
}