<p id="notice"><%= notice %></p>

<h1><span class="label">Talk: </span><%= @slot.talk_id %></h1>

<p class="room">
  <span class="label">Room:</span>
  <%# @slot.room_id %>
</p>

<p class="timeslot">
  <span class="label">Timeslot:</span>
  <%# @slot.slot_id %>
</p>