<div class="slot">
	
	<h1 class="heading"><%= @slot.id %></h1>
	
	<p class="room">
	  <span class="label">Room:</span>
	  <%= @slot.room.name %>
	</p>
	
	<p class="timeslot">
	  <span class="label">Timeslot:</span>
	  <%= @slot.timeslot.start %>
	</p>
	
</div>

<p class="options">
	<%= link_to 'All Slots', slots_path %>
</p>