<!--The Grid-->
<table>
	<thead>
		<th>&nbsp;</th>
	<% @timeslots.each do |timeslot| %>
		<th><%= timeslot['name'] %></th>
	<% end %>
	</thead>
	<tbody>
	<% @rooms.each do |room| %>
		<tr>
			<td><%= room['name'] %></td>
			<% room.slots.each do |slot| %>
				<td>
					<%= slot.talk.title unless slot.talk.nil? %>
					<%= "Empty" if slot.talk.nil? %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>