<% @dates = Timeslot.dates %>
<% @dates.each do | date | %>
	<p><%= date.strftime("%a").upcase %></p>
<% end %>

<% if (@version == "low") %>		
	<%= render "shared/grid/grid_vertical" %>
<% else %>
	<%= render "shared/grid/grid" %>
<% end %>