<% if (@timeslots.nil?) %>
	<p>You seem to be lost in time.</p>
<% else %>	
	<h1><%= @timeslot.start.strftime("%H:%M") %> - <%= @timeslot.end.strftime("%H:%M") %></h1>
	<%= render 'shared/timeslot_scroll_nav' %> 
	<%= render 'shared/grid/headings' %>
<% end %>