<% if (@timeslots.nil?) %>	
	<p class="message information">You seem to be lost in time.</p>
<% elsif (@version == "small") %>		
	<%= render "shared/grid/grid_vertical" %>
<% else %>
	<%= render "shared/grid/grid" %>
<% end %>