/*
 * Rules that apply to all media
 */


/* Reset rules
-----------------------------*/

body {
    color: #4e1900; /* #000000 */
    background-color: #ffffff; /* #ffffff */
}

h1 {
    color: #ff5906; /* #777777 */
}