<% if (@timeslots.count() < 1) %>
	<p class='message warning'>Wow, it looks as though all the slots have been taken!</p>
<% else %>
	<p class="message instructions">To add your talk to the grid, find an empty slot, click to select and hit submit.</p>
	<% if (@version == "low") %>
		<%= render "shared/grid/grid_vertical" %>
	<% else %>
		<%= render "shared/grid/grid" %>
	<% end %>
<% end %>