<div class="talk">
	<%= render '/shared/talk/details' %>
	<% if (!@talk.slot_id.nil?) %>
		<% @slot = @talk.slot %>		
	<% end %>
	<%= render '/shared/talk/slot' %>
</div>

<p class="options">
	<% if (@talk.locked?) %>
		<%= link_to 'All Talks', talks_path %>
	<% else %>
		<%= link_to 'Edit', edit_talk_path(@talk) %>
	<% end %>
</p>
