<div class="talk">
	<%= render '/shared/talk/details' %>
	<% if (!@talk.slot.nil?) %>
		<% @slot = @talk.slot %>		
	<% end %>
	<%= render '/shared/talk/slot' %>
	
	<div class='actions'>
		<p><span class="submit"><%= link_to "Edit", edit_talk_path(@talk), :class => "button green" %></span></p>
	</div>
</div>

