<div class="talk">
	<%= render '/shared/talk/details' %>
	<% if (!@talk.slot_id.nil?) %>
		<% @slot = @talk.slot %>		
	<% end %>
	<%= render '/shared/talk/slot' %>
	
	<div class='actions'>
		<%= link_to "Edit", edit_talk_path(@talk), :class => "button green" %>
	</div>
</div>

