<div class="talk">
	<%= render '/shared/talk/details' %>
	<% if (!@talk.slot_id.nil?) %>
		<% @slot = @talk.slot %>		
	<% end %>
	<%= render '/shared/talk/slot' %>
</div>

<form method="post" action="<%= url_for(:controller => 'talks', :action => 'edit', :id => @talk) %>">
	<fieldset class="actions">
		<span class="edit">
			<input id="talk_edit" class="button" type="submit" value="Edit" name="edit"<% if (@talk.locked?) %> disabled="disabled"<% end %>>
		</span>
		<%= token_tag %>
	</fieldset>
</form>