<h1 class="heading">Unscheduled Talks</h1>
<% if (@talks.count > 0) %>
	<p class="ingress">A list of all talks that currently aren&apos;t scheduled to happen.</p>
	<%= render '/shared/talk/listing' %>
<% else %>
	<p>It looks as though all talks are on the grid.</p>
<% end %>