/* See /stylesheets/README.txt for guidelines */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Didact+Gothic|Nosifer+Caps);


body,
h1, h2, h3, h4, h5, h6,
div, p, li, th, td {  
    font-family: 'Didact Gothic', 'Droid Sans', 'Lucida Sans', 'Lucida Grande', arial, helvetica, sans-serif;
}

/* Custom hides (screenreader-friendly)
-----------------------------*/

.hide,
.skip  {
	margin: -5000px 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}



/* Layout
-----------------------------*/

body#grid #main {
	display: block;
	position: relative;
}


body,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color: yellow;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

.div {
	background-color: transparent;
}

body#grid {
	padding: 20px 0 20px 20px;	
	background-color: #000000;
	font-size: 2em;
	background-image: url('/images/themes/bcl9/logo_with_glow.png');
	background-position: right top;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

div.grid {
	border: 0;
	padding: 0;	
	width: 60%;
	display: block;
	position: absolute;	
}

.whats-on {
	border: 0;
	padding: 0;
	display: block;
	width: 100%;
}

.now {
	position: absolute;
	top: 0;
	left: 0;
}

.next {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.tweets {
	display: block;
	position: absolute;
	width: 35%;
	top: 120px;
	right: 20px;
}

.pair {
	width: 100%;
	display: block;
	clear: both;
	padding: 1.3em 0;
}

.slot {
	display: block;
}

.double .slot {
	width: 50%;
	float: left;
}

.single .slot {
	width: 80%;
}

.talk,
.empty {
	width: 90%;
}

.where-when {

}

.slot .heading,
.slot .description {
	word-wrap: break-word;
}

.context {
	font-size: 3em;
	font-family: 'Nosifer Caps', 'Didact Gothic', serif;
	text-transform: uppercase;
	color: yellow;
}

.time {
	font-size: 1.2em;
}

.time,
.time a:link,
.time a:visited,
.time a:hover,
.time a:focus,
.time a:active {
	color: #DAA520; /* GoldenRod */
}

.room {
	font-size: 1em;
}

.room,
.room a:link,
.room a:visited,
.room a:hover,
.room a:focus,
.room a:active {
	color: #F5DEB3; /* Wheat */
}

.where-when,
.title,
.description,
.empty .heading {
	margin-bottom: .3em;
}

.where-when {
	font-size: .9em;
	font-weight: normal;
}

.empty {
	margin-bottom: 1em;
}

.empty .heading,
.title {
	font-weight: bold;
	font-size: 1.2em;
}
.description {
	font-style: normal;
	font-weight: normal;
	color: #F0E68C;
}
.speaker {
	font-weight: normal;
}

.tweets .stream {
	height: 580px;
	overflow: hidden;
}

.tweet {
	position: relative;
	margin-top: 2em;
}

.tweet .avatar {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.tweet .message,
.tweet .when {
	margin-left: 50px;
	color: #ffffff;
	word-wrap: break-word;
}

.tweet .message {
	font-size: 1.2em;
}

.tweet .when {
	margin-top: .25em;
}
.tweet .when,
.tweet .when a:link,
.tweet .when a:visited,
.tweet .when a:hover,
.tweet .when a:focus,
.tweet .when a:active {
	color: #DAA520;
}

.tweet .tweeter {
	color: #ff8c00;
}

/*
div.grid {
	border: 1px solid red;
}
.tweets {
	border: 1px solid blue;
}
.whats-on {
	border: 1px solid green;
}
*/


/* VIEW: 404
 */

body.application,
body.application #main {
	background-color: #000000;
	color: #ffffff;
}

body.application #main {	
	font-size: medium;
	padding: 1em;
}

/* Basic link rules
-----------------------------*/

body.application a:link,
body.application a:visited {	
	text-decoration: none;	
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

body.application a:hover,
body.application a:focus,
body.application a:active {
	text-decoration: none;	
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


body.application #version-switcher {
	margin-top: 12px;
	margin-bottom: 12px;
}

body.application #version-switcher .option {	
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 18px;
    padding-left: 0px;
	display: list-item;
	color: #ffffff;
}

body.application h1.heading {
	color: orange;	
	font-size: large;
}

body.application .heading,
body.application p {
	margin-top: 6px;
	margin-bottom: 6px;
} 
