/* NOTES: High
-----------------------------
*  Go for it. CSS3, the lot.
*  med.css applied first.
-----------------------------*/

/* Custom hides */
.version-switcher .skip {
	margin: -5000px 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}

/* Basic text rules
-----------------------------*/

html, body {
  padding: 0px;
}

/* Layout
-----------------------------*/

#footer .nav {
    text-align: left;
}

#main {
    clear: left;
}


/* Custom features
-----------------------------*/

#header {
  background-color: black;
  height: 40px;
  overflow: hidden;
  border-bottom: 3px solid #888;
  position: absolute;
  left: 0px;
  width: 100%;
  position:fixed;
  right: 0px;
}

#header h1 {
  float: left;
  width: 200px;
  height: 40px;
}

#header .spacer {
  height: 0px;
}


/* Global nav in header */

#header .nav {
  float: left;
  color: white;
  height: 28px;
  margin-top: 12px;
  margin-left: 30px;
}

#header .nav li,
#footer .nav li {
    display: inline;
    margin: 0px 10px; 
    font-size: 1.2em;
    line-height: 1.3em;
}
#header .nav li a,
#footer .nav li a {
    display: inline;
    padding-top: 15px;
    color: white;
}

#footer .nav li
{
	font-size:1em;
}


#header .nav li a:hover,
#footer .nav li a:hover { 
    text-decoration:none;
    border-width: 0 0 2px 0;
    border-style: solid;
}

#header .nav li.selected a,
#footer .nav li.selected a {    
    border-width: 0 0 2px 0;
    border-style: solid;
}


/* Version switcher */
.version-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-bottom: 0.5em;
}

.version-switcher {
  color: #fff;
}

.version-switcher a {
  color: #fff;
}

.version-switcher h2 {
  display: inline;
  height: 10px;
  font-size: 1.2em;
}

.version-switcher p {
  display: inline;
}

.version-switcher a.selected {
  font-weight: normal;
  border-bottom: 1px solid #fff;
}

/* Scroller */
.scroller a {
    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
}


/* VIEW: Create talk
-----------------------------*/

.submit input {
	padding: 0.2em 0.6em 0.25em;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}