/* NOTES: High
-----------------------------
*  Go for it. CSS3, the lot.
*  med.css applied first.
-----------------------------*/

/* Custom hides */
.version-switcher .skip {
	margin: 0 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}

/* Basic text rules
-----------------------------*/

body,
.version-switcher {
    padding: 1em;
}


/* Layout
-----------------------------*/

#footer .nav {
    text-align: center;
}


/* Custom features
-----------------------------*/

/* Global nav in header */
#header .nav li,
#footer .nav li {
    display: inline;
    margin: 2px; 
}
#header .nav li a,
#footer .nav li a {
    display: inline;
    padding: 2px;
    background-color: #DEDEFC;
    border: 2px solid #DEDEFC;
     border-radius: 3px;
    -moz-border-radius: 3px;   
}

/* Version switcher */
.version-switcher {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
}
.version-switcher .selected {
    border: 2px solid orange;
    border-radius: 3px;
    -moz-border-radius: 3px;
}


/* VIEW: the grid
-----------------------------*/

#gridTable td, 
#gridTable th {
    border-color: #ffffff;
    border-width: 0px 30px 0px 0px;
    border-style: solid;
    font-family: Verdana;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

#gridTable th {
    color: #003399;
    font-size: larger;
    font-weight: normal;
    padding: 8px 2px;
}

#gridTable .timeslot {
    border-bottom: 2px solid #6678B1;
    color: #003399;
    font-size: 14px;
    padding: 8px 2px;
}

#gridTable .slot {
    color: #666699;
    padding: 12px 2px 0;
}

#gridTable .room {
    border-left: none;
    border-bottom: 30px solid #FFFFFF;    
    width: 60px;
}    