/* NOTES: Low 
-----------------------------
*  Use names for font sizes
*  Don't try to use positioning
*  Probably only one typeface per page
*  Probably won't respect typeface specified
-----------------------------*/


/* Basic text rules
-----------------------------*/

body,
h1, h2, h3, h4, h5, h6,
div, p, li, th, td { 
    font-family: Verdana, sans-serif;
}

/* Layout
-----------------------------*/

body {
    padding: 3px;
}

#header {
    margin-bottom: 20px;
}

#footer {
    margin-top: 20px;
}

h1 {
    margin-bottom: 10px;
}


/* Custom features
-----------------------------*/

/* Version switcher */
/* Single timeslot grid view scroller */
.version-switcher {
    margin-top: 10px;
}
.scroller {
    margin-bottom: 12px;   
}
.version-switcher .heading {
    font-size: small;
}
.version-switcher .options,
.scroller .options {
    color: #cccccc;
}
.version-switcher .selected {
    text-decoration: underline;
    font-weight: bold;
}
.version-switcher .skip {
    color: #cccccc;
    font-size: x-small;
    font-weight: normal;
}
.scroller a .arrows {
    color: #cccccc;
}



/* Main page title */
#main h1 {
    font-size: larger;
}


/* VIEW: the grid
-----------------------------*/

#gridTable td, 
#gridTable th {
    border: 1px solid #cccccc;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0px 6px;
    vertical-align: baseline;
}

#gridTable th {
    color: #003399;
    font-weight: normal;
}

#gridTable .timeslot {
    color: #003399;
}

#gridTable .slot {
    color: #666699;
}

.slot p,
.slot .heading {
    margin-top: 6px;
    margin-bottom: 6px;
}