/* NOTES: Low 
-----------------------------
** Use names for font sizes
** Don't try to use positioning
** Probably only one typeface per page
** Probably won't respect typeface specified
** Keep tables ~very~ simple: no border-collapse, 
*  thead, tbody or varying border widths/colours/styles.
** No image-replacement
** Avoid using large and/or wide images in content
*  (viewport is likely to be relatively narrow and shallow)
-----------------------------*/


/* Basic text rules
-----------------------------*/

/* Basic form rules
-----------------------------*/
fieldset {    
    border: none;
    padding: 0 6px 0 0;
}

.field {
    margin-top: 6px;
}
.field p {
    margin-bottom: 3px;
}
.field input,
.field textarea {
  width: 100%;
}

form .actions a {
    background-color: #DDDDDD;
    color: #333333;
    padding: 3px 5px;    
}



/* Layout
-----------------------------*/

#main, 
#header .page-title,
#header .nav,
#header .version-switcher {
    padding: 3px;
}

#header {
    margin-bottom: 18px;
}

#footer {
    margin-top: 18px;
}


/* FEATURE: Header
-----------------------------*/

/* Header */
#header .page-title {
    background-color: #000000;
}
#header .nav .heading,
#header .version-switcher .heading {
    margin-bottom: 3px;   
}

/* FEATURE: Version Switcher
-----------------------------*/

.version-switcher {
    margin-top: 9px;
}
.version-switcher .heading {
    font-size: small;
}
.version-switcher .selected {
    text-decoration: underline;
    font-weight: bold;
}

/* FEATURE: Timeslot scroller
-----------------------------*/

.scroller {
    margin-bottom: 12px;   
}


/* FEATURE: Skipper
-----------------------------*/

.skip {
    font-size: x-small;
    font-weight: normal;
}


/* FEATURE: Page Title
-----------------------------*/

#main h1 {
    font-size: larger;
}

/* FEATURE: Informational messages
-----------------------------*/

.message {      
    padding: 6px;    
    margin: 0 6px 9px 6px;
    background-color: #C9E2AE;
    color: #444;    
    font-weight: bold;
    font-size: medium;                   
}

.warning {
  color: #7E2B29;
  background-color: #F9EEEE;
}


/* VIEW: the grid
-----------------------------*/

#gridTable td, 
#gridTable th {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0px 6px;
    vertical-align: baseline;
    border-width: 1px;
    border-style: solid;
}

#gridTable th {  
    font-weight: normal;
}

.slot p,
.slot .heading {
    margin-top: 6px;
    margin-bottom: 6px;
}