/* NOTES: Low 
-----------------------------
** Use names for font sizes
** Don't try to use positioning
** Probably only one typeface per page
** Probably won't respect typeface specified
** Keep tables ~very~ simple: no border-collapse, 
*  thead, tbody or varying border widths/colours/styles.
** No image-replacement
** Avoid using large and/or wide images in content
** Screen resolution is likely to be relatively narrow and shallow,
*  eg. 176x144
** KEYBOARD NAVIGATION
*  (remember :focus as well as :hover)
-----------------------------*/


/* Basic text rules
-----------------------------*/

/* Basic form rules
-----------------------------*/
fieldset {    
    border: none;
    padding: 0 6px 0 0;
}

.field {
    margin-top: 6px;
}
.field p {
    margin-bottom: 3px;
}
.field input,
.field textarea {
  width: 100%;
}

.actions span {
    line-height: 2.5;
}

.actions {
    margin-top: 18px;
    margin-bottom: 6px;
    padding: 0;
    border: 1px solid #f5f5f5;
    padding: 3px 6px;
}

.actions a {
    background-color: #DDDDDD;
    color: #333333;
    padding: 6px 6px;    
}



/* Layout
-----------------------------*/

#header {
    margin-bottom: 0;
    padding-bottom: 3px;
    border-bottom: 3px solid #000000;
}

#footer {
    margin: 0;    
}

#options,
.version-switcher {
    padding: 3px;
}

#main {
    padding: 0 6px;
}

/* FEATURE: Header
-----------------------------*/

#header .branding {
    background-color: #000000; /* #000000 */
}


/* FEATURE: Footer
-----------------------------*/

#footer {
    border-top: 12px solid #000000;    
    padding-top: 6px;
}

.nav .heading,
.version-switcher .heading {
    margin-bottom: 3px;   
}


/* FEATURE: Global Navigation
-----------------------------*/

.nav .heading {
    font-size: medium;
}
.nav li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 18px;
    padding-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}


/* FEATURE: Scrollers
-----------------------------*/

.scroller {
    width: 100%;
    background-color: #000000; /* #f5f5f5 */
    font-size: small;   
    margin: 0;
    color: #fcfcfc;
    border-style: solid;
    /* border-color: #D37F7E; */
    border-color: #000000; /* #555555 */
    border-width: 0 0 3px 0;
}
.scroller p {
    text-align: center;
}
.scroller .selected {
    font-weight: bold;
    text-decoration: underline;
}
.scroller a,
.scroller a:link,
.scroller a:visited,
.scroller a:hover,
.scroller a:focus,
.scroller a:active {
    color: #ffffff;
}


/* FEATURE: Version Switcher
-----------------------------*/

.version-switcher {
    margin-top: 0;
    padding: 6px 6px 18px 6px;
    background-color: #000000; /* #000000 */
    color: #ffffff; /* #ffffff */
}
.version-switcher .heading {
    font-size: small;
}
.version-switcher .selected {
    text-decoration: underline;
    font-weight: bold;
}

.version-switcher .heading,
.version-switcher a:link,
.version-switcher a:visited,
.version-switcher a:hover,
.version-switcher a:focus,
.version-switcher a:active {
    color: #ffffff; /* #ffffff */
}


/* FEATURE: Skippers
-----------------------------*/

.skip {
    font-size: x-small;
    font-weight: normal;
}

.skip-up,
.skip-down {
    padding-left: 3px;
}

.skip-up {
    margin: 12px 0 0 0;
    padding-bottom: 0;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #000000; /* #000000 */
}
.skip-up img,
.skip-down img {
    margin-right: 3px;
}
.skip-up img {
    margin-bottom: -3px;
}

.skip-to-empty-last {
    margin-top: 18px;
    margin-bottom: 6px;
}

/* FEATURE: Page Title
-----------------------------*/

#main h1 {
    font-size: large;
	margin-top: 6px;
    margin-bottom: 12px;
}

/* FEATURE: Informational messages
-----------------------------*/

.message {      
    padding: 6px;    
    margin: 0 0px 9px 0px;
    background-color: #C9E2AE;
    color: #444;    
    font-weight: bold;
    font-size: medium;                   
}

.warning {
  color: #7E2B29;
  background-color: #F9EEEE;
}


/* VIEW: the grid
-----------------------------*/
/*
.grid td, 
.grid th {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0px 6px;
    vertical-align: baseline;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
}

table.grid th,
div.grid .timeslot .header {  
    font-weight: normal;
    background-color: #f5f5f5;
    color: #000000;
    padding: 3px;    
}

table.grid tr.even th,
table.grid th.odd {
    background-color: #eeeeee;
}

.grid .header .where-when {
    color: #b13c3b;
}

.grid .slot .empty {
    padding: 3px;
    background-color: #C9E2AE;
    margin: 6px 0;
}

.grid .slot .empty,
.grid .slot .empty .heading,
.grid .slot .empty .where-when,
.grid .slot .empty a,
.grid .slot .empty a:link,
.grid .slot .empty a:visited,
.grid .slot .empty a:hover,
.grid .slot .empty a:focus,
.grid .slot .empty a:active {
    color: #444;    
}

.slot p,
.slot .heading {
    margin-top: 6px;
    margin-bottom: 6px;
}

table.grid td.now {
    background-color: #e0efe1;
}
body#now table.grid td.now {
    background-color: #ffffff;
}
*/


/* VIEW: Talk
-----------------------------*/

body.talks #main h1 {
    margin-bottom: 0;
}

body.talks .description,
body.talks .slot-details {
    margin-top: 12px;
}

body.talks .slot-details p {
    margin-bottom: 6px;
}

/* FEATURE: Grid
-----------------------------*/

div.grid .timeslot .header {  
    font-weight: normal;
    background-color: #f5f5f5;
    color: #000000;
    padding: 3px;    
}

div.grid .timeslot {
    padding-top: 30px;
}

div.grid .timeslot .header .day {
    font-size: medium;
    font-weight: bold;
}

div.grid .timeslot .header .time {
    margin-bottom: 6px;
}

.skip-to-empty {
    
}

div.grid .slot {
    margin-top: 18px;
}

div.grid .talk,
div.grid .empty {
    border: 1px solid #cccccc;
    padding: 3px;
}

.slot p,
.slot .heading {
    margin-top: 6px;
    margin-bottom: 6px;
}

.grid .header .where-when {
    color: #b13c3b;
}

.grid .slot .empty {
    background-color: #C9E2AE;
    margin: 6px 0;
}

.grid .slot .empty,
.grid .slot .empty .heading,
.grid .slot .empty .where-when,
.grid .slot .empty a,
.grid .slot .empty a:link,
.grid .slot .empty a:visited,
.grid .slot .empty a:hover,
.grid .slot .empty a:focus,
.grid .slot .empty a:active {
    color: #444;    
}

.grid .slot .empty .actions {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 3px;
    background-color: #ffffff;
    border: 1px solid #444444;
}

/* VIEW: Schedule Talk
-----------------------------*/