/* NOTES: Med
-----------------------------
*  Can use px for font size
*  Don't try to use positioning
*  Typeface still unlikely to be the one you specify
-----------------------------*/

/* Workarounds
-----------------------------*/

.clear {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	clear: both;	
}
.hide {
	margin: 0 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}


/* Basic text rules
-----------------------------*/

body {
    padding: 3px;
}


/* Layout
-----------------------------*/

#header .page-title,
#header .nav,
#header .version-switcher {
    margin-bottom: 1em;
}

#header {
    margin-bottom: 2em;
}

#footer {
    margin-top: 2em;
}

h1 {
    margin-bottom: 1em;
}

/* Custom features
-----------------------------*/

/* Logo */
#header .page-title a {
    display: block;
    height: 127px;
    width: 360px;
    background-image: url('/images/barcampmediacity-360.png');    
}

/* Gloval nav */
#header .nav li,
#footer .nav li {
    line-height: 2em;
}

/* Global nav in header */
#header .nav li {
    font-size: medium;
}


/* Version switcher */
.version-switcher .heading {
    margin-bottom: .25em;
}
.version-switcher .options {
    color: #cccccc;
}

.version-switcher .options a
{
    z-index:10;
    position:relative;
}

.version-switcher .selected {
    /* for bcl9:
       background-color: orange;
       border: 2px solid orange;
    */
    /* for media city, turn off after the event */
    background-color:#E03E3A;
    border: 2px solid #E03E3A;
    font-weight: bold;
    color: white;
}
.version-switcher .skip {
    color: #cccccc;
    font-size: smaller;
    font-weight: normal;
}

/* Main page title */
#main h1 {
    font-size: 200%;
    margin: 1em 0px;
}


/* VIEW: the grid
-----------------------------*/
#gridTable td, 
#gridTable th {
    font-family: Verdana;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 2px 16px;
    vertical-align: baseline;
}

#gridTable th {
    color: #003399;
    font-size: larger;
    font-weight: normal;
}

#gridTable tr.even{
	background-color: #fbfbfb;
}

#gridTable .timeslot {
    color: #003399;
    font-size: 14px;
    padding: 8px 16px 2px 16px;
}

#gridTable .timeslot p{
	border-bottom: 2px solid #6678B1;
	padding: 5px 5px 13px 5px;
}

#gridTable .slot,
#gridTable p {
    width: 8.5em; 
}

#gridTable .slot {
    color: #666699;
}

#gridTable td .heading {
    font-weight: normal;
}

#gridTable .speaker {
    font-style: normal;
    color: #000000;
}
.talk .options a,
.talk .options a:link,
.talk .options a:visited,
.talk .options a:hover,
.talk .options a:focus,
.talk .options a:active {
    color: #9f9f9f;
}

.slot p,
.slot .heading {
    margin-top: 6px;
    margin-bottom: 6px;
}

#gridTable .talk,
#gridTable .empty,
#gridTable th p {
    padding: 5px;
}

.where-when span {
    display: inline;
    background-color: #eFf3FF;
    color: #666699;
    margin-right: 2px;
    padding: 2px;
    margin-bottom: 3px;
}


/* forms general rules */
fieldset
{
	border:none;
}

.field
{
	margin-bottom:1.6em;
}



/* add a talk */
.addtalk .actions,
.slot .actions
{
	width: 292px;
}

.addtalk .actions legend
{
	height:0;
	font-size:0;
	line-height:0;
	text-indent: -99999px;
}

.addtalk .delimiter,
.talk .cancel,
.slot .delimiter
{
	margin:0 1em;
}

.submit input
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #dd0000;
}

.submit input:hover
{
	text-decoration: none;
	background: #ff6666;
}

.submit input:active 
{
	position: relative;
	top: 1px;
	color: #fcd3a5;
}



/* submit talk */
.slot .label
{
	font-weight:bold;
	margin-right:0.3em;
	min-width:73px;
	display: inline-block;
}

.slot p.speaker,
.slot p.where,
.slot div.when,
.slot p.description
{
	margin-bottom:1.5em;
}

.slot p.description
{
	padding-left:73px;
	margin-left:0.3em;
}
