/* NOTES: Med
-----------------------------
*  Can use px for font size
*  Don't try to use positioning
*  Typeface still unlikely to be the one you specify
-----------------------------*/

/* Workarounds
-----------------------------*/

.clear {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	clear: both;	
}
.hide {
	margin: 0 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}


/* Basic text rules
-----------------------------*/

body {
    padding: 3px;
}


/* Layout
-----------------------------*/

#header .page-title,
#header .nav,
#header .version-switcher {
    margin-bottom: 1em;
}

#header {
    margin-bottom: 2em;
}

#footer {
    margin-top: 2em;
}

h1 {
    margin-bottom: 1em;
}

/* Custom features
-----------------------------*/

/* Logo */
#header .page-title a {
    display: block;
    height: 127px;
    width: 360px;
    background-image: url('/images/bcl8_logo.png');    
}

/* Gloval nav */
#header .nav li,
#footer .nav li {
    line-height: 2em;
}

/* Global nav in header */
#header .nav li {
    font-size: medium;
}


/* Version switcher */
.version-switcher .heading {
    margin-bottom: .25em;
}
.version-switcher .options {
    color: #cccccc;
}
.version-switcher .selected {
    background-color: orange;
    border: 2px solid orange;
    font-weight: bold;
    color: white;
}
.version-switcher .skip {
    color: #cccccc;
    font-size: smaller;
    font-weight: normal;
}

/* Main page title */
#main h1 {
    font-size: 200%;
    margin: 1em 0px;
}

/* VIEW: the grid
-----------------------------*/

#gridTable td, 
#gridTable th {
    border-color: #ffffff;
    border-width: 2px 30px 2px 2px;
    border-style: solid;
    font-family: Verdana;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

#gridTable th {
    color: #003399;
    font-size: larger;
    font-weight: normal;
}

#gridTable .timeslot {
    border-bottom: 2px solid #6678B1;
    color: #003399;
    font-size: 14px;
    padding: 8px 2px;
}

#gridTable .slot,
#gridTable p {
    width: 8.5em; 
}

#gridTable .slot {
    color: #666699;
}

#gridTable td .heading {
    font-weight: normal;
}

#gridTable .speaker {
    font-style: normal;
    color: #000000;
}
.talk .options a,
.talk .options a:link,
.talk .options a:visited,
.talk .options a:hover,
.talk .options a:focus,
.talk .options a:active {
    color: #9f9f9f;
}

.slot p,
.slot .heading {
    margin-top: 6px;
    margin-bottom: 6px;
}

#gridTable .talk,
#gridTable .empty,
#gridTable th p {
    padding: 5px;
}

.where-when span {
    display: inline;
    background-color: #eFf3FF;
    color: #666699;
    margin-right: 2px;
    padding: 2px;
    margin-bottom: 3px;
}