/* NOTES: Med
-----------------------------
** Can use px for font size
** Don't try to use complex positioning
** Typeface still unlikely to be the one you specify
** Default screen resolution still pretty narrow,
*  eg. 320x480
** No CSS3
** Touchscreen navigation
*  (:hover irrelevant)
-----------------------------*/

@import url(../buttons.css);


/* Workarounds
-----------------------------*/

.clear {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	clear: both;	
}

/* Screenreader-friendly but uses positioning... */
.hide,
table.grid .where-when span.hide {
	margin: -5000px 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}


/* Layout
-----------------------------*/

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 320px;
}

#header .nav {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 310px;
    text-align: center;
}

#header .nav,
#header .branding {
    padding-bottom: 6px;
}

#header .branding a {
    margin-left: 3px;
}

#header .skip-to-versions {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9px;
    right: 9px;
}

.version-switcher {
    padding: 3px;
}


/* FEATURE: Header
-----------------------------*/

#header {
    background-color: #000000; /* #000000 */
}

#header .branding a {
    display: block;   
}

#header .skip-to-versions a:link,
#header .skip-to-versions a:visited,
#header .skip-to-versions a:hover,
#header .skip-to-versions a:focus,
#header .skip-to-versions a:active {
    background-color: inherit;
    color: #dddddd;
    padding: 3px 19px 3px 0;    
    background: transparent url("/images/wrench.png") no-repeat right center;
}

/* FEATURE: Footer
-----------------------------*/

#footer .nav .heading,
.version-switcher .heading {
    margin-bottom: 3px;   
}


/* FEATURE: Global Navigation
-----------------------------*/

#header .nav,
#header .nav a:link,
#header .nav a:visited,
#header .nav a:hover,
#header .nav a:focus,
#header .nav a:active {
    background-color: #000000;
    color: #ffffff;
}

#header .nav li {
    margin: 0;
    padding: 0 6px;
    display: inline;
    font-size: 14px;
}

#footer .nav .heading {
    font-size: medium;
}

#footer .nav li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 18px;
    padding-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}


/* FEATURE: Scrollers
-----------------------------*/

.scroller {
    margin: 0;
    padding: 3px 0 6px;
    width: 100%;
    background-color: #000000; /* #f5f5f5 */
    color: #fcfcfc;
    font-size: small;         
    border-style: solid;
    border-color: #555555; /* #555555 */
    border-width: 3px 0 0 0;    
}
.scroller p {
    text-align: center;
}
.scroller .selected {
    font-weight: bold;
    text-decoration: underline;
}
.scroller a,
.scroller a:link,
.scroller a:visited,
.scroller a:hover,
.scroller a:focus,
.scroller a:active {
    background-color: inherit;
    color: #ffffff;
    padding: 0 6px;
}


/* FEATURE: Version Switcher
-----------------------------*/

.version-switcher {
    margin-top: 0;
    padding: 6px 12px 18px 12px;
    background-color: #000000; /* #000000 */
    color: #ffffff; /* #ffffff */
}
.version-switcher .heading {
    font-size: small;
}
.version-switcher .selected {
    text-decoration: underline;
    font-weight: bold;
}

.version-switcher .heading,
.version-switcher a:link,
.version-switcher a:visited,
.version-switcher a:hover,
.version-switcher a:focus,
.version-switcher a:active {
    background-color: inherit;
    color: #ffffff; /* #ffffff */
}


/* FEATURE: Skippers
-----------------------------*/

.skip {
    font-size: x-small;
    font-weight: normal;
}

.skip-up,
.skip-down {
    padding-left: 3px;
}

.skip-up {
    margin: 12px 0 0 0;
    padding-bottom: 0;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #000000; /* #000000 */
}
.skip-up img,
.skip-down img {
    margin-right: 3px;
}
.skip-up img {
    margin-bottom: -6px;

}

#header .skip-to-versions {
    font-size: xx-small;    
}


/* FEATURE: Page Title
-----------------------------*/

#main h1 {
    font-size: 200%;
    margin: 6px 0px;
}

/* FEATURE: Informational messages
-----------------------------*/

.message {      
    padding: 6px;    
    margin: 0 6px 9px 6px;
    background-color: #C9E2AE;
    color: #444;    
    font-weight: bold;
    font-size: medium;                   
}

.warning {
  color: #7E2B29;
  background-color: #F9EEEE;
}

#error_explanation ul {
  list-style: disc inside;
}

#error_explanation li {
  color: #a00;
  margin: 10px 0px;
}


/* VIEW: Grid
-----------------------------*/

table.grid td, 
table.grid th {
    margin: 0;
    padding: 0;
    outline: 0 none;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
}

table.grid th {  
    min-width: 100px;
    font-weight: normal;    
    background-color: #f5f5f5;
    color: #000000;       
}

table.grid tr.even th,
table.grid th.odd {
    background-color: #eeeeee;
}

table.grid tr.even {
  background-color: #fafafa;
}

table.grid tr.odd {
  background-color: #ffffff;
}

table.grid td {
    min-width: 30%;
}

/* Room headings */

table.grid th.room {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold; 
}

table.grid th.room .heading a:link,
table.grid th.room .heading a:visited,
table.grid th.room .heading a:hover,
table.grid th.room .heading a:focus,
table.grid th.room .heading a:active {
  background-color: inherit;
  color: #660000;
}

table.grid th.room .where-when {
    font-weight: normal;
    font-size: 120%;
    margin: 0;
}

table.grid th.room .where-when span {
    margin: 0;
    padding: 0;
}

table.grid .where-when  .room {
  text-decoration: underline;
}

/* Talk */

table.grid .talk {
    padding: 3px 0;
}

table.grid .talk .heading,
table.grid .talk p,
table.grid .empty,
table.grid th p {
    padding: 3px 6px;
}

table.grid .talk .title a:link,
table.grid .talk .title a:visited,
table.grid .talk .title a:hover,
table.grid .talk .title a:focus,
table.grid .talk .title a:active {
  background-color: inherit;
  color: #000000;
}

table.grid .speaker {
    font-style: normal;
    font-weight: normal;
}

table.grid .talk .where-when {     
    margin: 0;
    padding: 6px 5px;
}

table.grid .where-when span {
    display: inline;
    padding: 2px 3px;
    margin: 1px;
    background-color: #eeeeee; 
}

/* Break slots */

table.grid .break {
    background-color: rgba(241,	238,	230, 0.8);
}


/* Empty slots */

table.grid .empty {
    padding: 3px;
/*    background-color: #ddd;*/
    margin: 6px;
}

table.grid .empty .where-when {   
    margin: 0;
    padding: 6px 2px;
    white-space: nowrap;
}

table.grid .empty .heading {
  margin: 5px;
  background-color: #C9E2AE;
  padding: 5px 0px;
  color: #000;
}

table.grid .empty .submit {
  margin: 5px 0px;
  display: block;
}

table.grid .empty .submit a {
  color: #fff;
}

/* On now */

table.grid td.now {
    background-color: #e0efe1;
}

/* Single time-slot view */

table.single-timeslot th p {
    text-align: center;
}

table.single-timeslot .slot {
    padding-top: 6px;
    padding-bottom: 6px;
}

table.single-timeslot p {
  text-align: left;
}

table.single-timeslot .empty .heading {
    padding-left: 3px;
}

table.single-timeslot td.now {
    background-color: #ffffff;
}

table.single-timeslot .empty .submit {
  text-align: left;
}


/* VIEW: Talk
-----------------------------*/

body.talks #main {
    padding: 0 6px;
}

body.talks #main h1 {
    margin-bottom: 0;
}

body.talks .description,
body.talks .slot-details {
    margin-top: 12px;
}

body.talks .slot-details p {
    margin-bottom: 6px;
}


/* VIEW: Create talk
-----------------------------*/

.talk_form {
  padding: 5px 20px;
}

.talk_form .field {
    margin-top: 6px;
}

.talk_form .field p {
    margin-bottom: 3px;
}

.talk_form .field input,
.talk_form .field textarea {
  width: 500px;
}

.talk_form form label {
  font-weight: bold;
  line-height:1.1em;
  font-size: 1.1em;
  display: block;
  margin-bottom: 5px;
}

.talk_form form label span {
  font-size: 0.8em;
  color: #a00;
}

.talk_form form input[type=text] {
  border: 1px solid #aaa;
  padding: 5px 8px;
  font-size: 1.4em;
  width: 500px;
  height: inherit;
}

.talk_form form .field_with_errors input[type=text], .talk_form form .field_with_errors   textarea {
  border: 1px solid #a00;
}

.talk_form form textarea {
  border: 1px solid #aaa;
  padding: 3px 8px;
  font-size: 1.1em;
  line-height: 1.2em;
  width: 500px;
  height: 150px;
}

.actions {
  width: 520px;
  margin-top: 18px;
  padding: 0;
  border: 1px solid #aaa;
  padding: 3px 6px;
  text-align: right;
  margin-bottom: 20px;
}

.talk .actions a {
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 10px;
}

.talk_form .actions  a {
  color: #333;
  background-color: #ddd;
  padding: 3px 5px;
  text-decoration: underline;
}

.talk_form .actions  input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 10px;
}

.talk_form fieldset {    
    border: none;
    padding: 0 6px 0 0;
}

.actions span {
    line-height: 2.5;
}


.talk_form .actions a {
    background-color: #DDDDDD;
    color: #333333;
    padding: 3px 5px;    
}

#error_explanation ul {
  list-style: disc inside;
}

#error_explanation li {
  color: #a00;
  margin: 10px 0px;
} 
