/* NOTES: Medium
-----------------------------
** Can use px for font size
** Don't try to use complex positioning
** Typeface still unlikely to be the one you specify
** Default screen resolution still pretty narrow,
*  eg. 320x480
** No CSS3
** Touchscreen navigation
*  (:hover irrelevant)
-----------------------------*/

/* Workarounds
-----------------------------*/

.clear {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	clear: both;	
}

/* Screenreader-friendly but uses positioning... */
.hide,
table.grid .where-when span.hide {
	margin: -5000px 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}


/* Basic background rules
-----------------------------*/

html,
body {
  background-color: #000000;
}

#main {
    background-color: #ffffff;
}


/* Basic link rules
-----------------------------*/

a:link,
a:visited,
#header .skip-to-versions a:link .title,
#header .skip-to-versions a:visited .title {	
	text-decoration: none;	
    border-bottom: 1px dotted #999999;
}

a:hover,
a:focus,
a:active,
#header .skip-to-versions a:hover .title,
#header .skip-to-versions a:focus .title,
#header .skip-to-versions a:active .title {
	text-decoration: none;	
	border-bottom: 1px solid #999999;
}


/* Basic form rules (inc. pseudo form elements)
-----------------------------*/

fieldset {    
    border: none;
    padding: 0;
    margin: 0;
    display: block;
}

form input,
form textarea {
  width: 100%;
  padding: 3px 0;
  border: 1px solid #cccccc;
}

form .actions input {
    width: auto;
}

.field {
    margin-top: 18px;
}

.field p {
    margin-bottom: 3px;
}

form .label {
    margin-bottom: 5px;
    font-size: 110%;
    font-weight: bold;
    line-height: 110%;
}

form textarea {
  padding: 3px 0;
  font-size: 110%;
  line-height: 120%;
}

body.talks #main fieldset.actions {
	padding-right: 5px;
}

.actions {
  margin-top: 18px;
  margin-bottom: 20px;
  text-align: right; 
}

.actions p {
  border: 1px solid #cccccc;
  padding: 6px;
}

.actions span {
    line-height: 2.5;
}

input,
.actions a:link,
.actions a:visited,
.actions a:hover,
.actions a:focus,
.actions a:active {
	border: none;	
}

.actions input,
.actions a {
	font-size: small;
}

.actions input {
	padding: 5px 6px;
}

.actions a {
	padding: 6px 9px;
    background-color: #DDDDDD;
    color: #333333;    
}

input.green,
.actions a.green {     
    background-color: #99cc33; /* Green */
    color: #ffffff;    
}

input.orange,
.actions a.orange {
    background-color: #f78d1d; /* Orange */
    color: #ffffff;
}



/* Layout
-----------------------------*/

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 320px;
}

#header .nav {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 310px;
    text-align: center;
}

#header .nav,
#header .branding {
    padding-bottom: 6px;
}

#header .branding a {
    margin-left: 3px;
}

#header .skip-to-versions {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9px;
    right: 9px;
}

#footer .version-switcher {
    padding-bottom: 18px;
}

#main {
    padding: 6px;
}


/* FEATURE: Header
-----------------------------*/

#header {
    background-color: #000000; /* #000000 */
}

#header .branding a {
    display: block;   
    border: none;
}

#header .skip-to-versions a:link,
#header .skip-to-versions a:visited,
#header .skip-to-versions a:hover,
#header .skip-to-versions a:focus,
#header .skip-to-versions a:active {
    background-color: inherit;
    color: #dddddd;
    padding: 3px 12px 3px 0;    
    background-color: transparent;
    background-image: url("/images/themes/default/icons/version/medium_small.png");
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
}

#header .nav li a,
#header .nav li a.add span {
    border-bottom: 2px solid #000000;
}

#header .nav li.selected a,
#header .nav li.selected a.add span {
    border-bottom: 2px solid #ffffff;
}

#header .nav li a:hover,
#header .nav li a:focus,
#header .nav li a.add:hover span,
#header .nav li a.add:focus span {
    border-bottom-color: red;
    text-decoration: none;
}

#header .nav li.add-talk a:hover,
#header .nav li.add-talk a:focus,
#header .nav li.add-talk a {
    border: none;
}


/* FEATURE: Footer
-----------------------------*/

#footer .nav .heading,
#footer .version-switcher .heading {
    margin-bottom: 3px;   
}

#footer .nav,
#footer .version-switcher {
    padding: 6px 12px 9px;
    background-color: #000000; /* #000000 */
    color: #ffffff; /* #ffffff */
}

#footer .heading,
#footer .nav a:link,
#footer .nav a:visited,
#footer .nav a:hover,
#footer .nav a:focus,
#footer .nav a:active,
.version-switcher a:link,
.version-switcher a:visited,
.version-switcher a:hover,
.version-switcher a:focus,
.version-switcher a:active {
    background-color: inherit;
    color: #ffffff; /* #ffffff */
}

#footer a.selected,
#footer .selected a {
    border-bottom-style: solid;
    font-weight: bold;
}


/* FEATURE: Global Navigation
-----------------------------*/

/* In Header */

#header .nav,
#header .nav a:link,
#header .nav a:visited,
#header .nav a:hover,
#header .nav a:focus,
#header .nav a:active {
    background-color: inherit;
    color: #ffffff;
}

#header .nav li {
    margin: 0;
    padding: 0 6px;
    display: inline;
    font-size: 14px;
}


/* In Footer */

#footer .nav ul,
#footer .nav li {
    display: inline;
}

#footer .nav li,
#footer .version-switcher .option {
    padding-right: 5px;
}

#footer .nav li.last {
    padding: 0;
}

#footer .nav .delimiter,
#footer .version-switcher .delimiter {
    border-width: 0 1px 0 0; 
    border-style: solid;
    border-color: #555555;
    padding-left: 6px;
}




/* FEATURE: Scrollers
-----------------------------*/

.scroller {
    margin: 0;
    padding: 3px 0 6px;
    width: 100%;
    background-color: #000000; /* #f5f5f5 */
    color: #fcfcfc;
    font-size: small;         
    border-style: solid;
    border-color: #555555; /* #555555 */
    border-width: 3px 0 0 0;    
}
.scroller p {
    text-align: center;
}

.scroller a:link,
.scroller a:visited,
.scroller a:hover,
.scroller a:focus,
.scroller a:active {
    background-color: inherit;
    color: #ffffff;
    padding: 0 6px;
    text-decoration: none;
    border: none;
}

.scroller a span {
    border-bottom: 2px solid #000000;
}

.scroller a.selected span {
    border-bottom: 2px solid #ffffff;
    font-weight: bold;
}

.scroller a:hover span,
.scroller a:focus span {
    border-bottom-color: red;
    text-decoration: none;
}


/* FEATURE: Version Switcher
-----------------------------*/

.version-switcher {
    margin-top: 0;
}
.version-switcher .heading {
    font-size: small;
}


/* FEATURE: Skippers
-----------------------------*/

.skip {
    font-size: x-small;
    font-weight: normal;
}

.skip-up,
.skip-down {
    padding-left: 3px;
}

.skip-up {
    margin: 12px 0 0 0;
    padding-bottom: 0;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #000000; /* #000000 */
}
.skip-up img,
.skip-down img {
    margin-right: 3px;
}
.skip-up img {
    margin-bottom: -6px;

}

#header .skip-to-versions {
    font-size: xx-small;    
}


/* FEATURE: Page Title
-----------------------------*/

#main h1 {
    font-size: 200%;
    margin: 6px 0px;
}

/* FEATURE: Informational messages
-----------------------------*/

.message {          
    margin: 6px 6px 9px 6px;
    padding: 6px;
    background-color: #C9E2AE;         
}

body.grid .message {
	margin-top: 6px;
}

.warning {
	color: #7E2B29;
  	background-color: #F9EEEE;
}

#error_explanation ul {
  list-style-type: disc;
  list-style-position: inside;
}

#error_explanation li {
  color: #a00;
  margin: 10px 0px;
}

.message,
.message p {
    color: #444;    
    font-weight: bold;
    font-size: medium;
}

.message .actions {
	background-color: #ffffff;
	margin: 6px 0 0 0;	
	padding: 3px;	
}

body.talks #main .message fieldset.actions {
	padding-right: 3px;
}

.message .actions p {
	font-size: small;
	font-weight: normal;
	text-align: center;
}


/* FEATURE: Versions Flash
-----------------------------*/

.versions-flash p,
.versions-flash div.options {
	text-align: center;
}

.versions-flash div.options {
	height: 84px;
	width: 240px;	
	margin: 0 auto;
	padding: 0;
	margin-top: 6px;
}

.versions-flash p.option {
	display: block;
	width: auto;
	margin: 0 12px;
	padding: 0;
	float: left;
}

.versions-flash .title {
	font-size: small;
}

.versions-flash a:link,
.versions-flash a:visited,
.versions-flash a:hover,
.versions-flash a:focus,
.versions-flash a:active {
	text-decoration: none;
	border-bottom: none;
}


/* FEATURE: Grid
-----------------------------*/

body.grid #main,
#talk-assign #main,
#talk-move #main {
	padding: 0;
}

table.grid td, 
table.grid th {
    margin: 0;
    padding: 0;
    outline: 0 none;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
}

table.grid th {  
    min-width: 100px;
    font-weight: normal;    
    background-color: #f5f5f5;
    color: #000000;       
}

table.grid tr.even th,
table.grid th.odd {
    background-color: #eeeeee;
}

table.grid tr.even {
  background-color: #fafafa;
}

table.grid tr.odd {
  background-color: #ffffff;
}

table.grid td {
    min-width: 30%;
}

table.multi-timeslot th.timeslot {
	padding-bottom: 3px;
}

/* Room headings */

table.grid th.room {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold; 
}

table.grid th.room .shortcode,
table.grid th.room .heading a:link,
table.grid th.room .heading a:visited,
table.grid th.room .heading a:hover,
table.grid th.room .heading a:focus,
table.grid th.room .heading a:active {
  background-color: inherit;
  color: #660000;
}

table.grid th.room .shortcode {
    font-weight: normal;
    font-size: 120%;
    margin: 0;
}

table.grid th.room .details {
	font-weight: normal;
}

/* Talk */

table.grid .talk {
    padding: 3px 0;
}

table.grid .talk .heading,
table.grid .talk p,
table.grid .empty,
table.grid th p {
    padding: 3px 6px;
}

table.grid .talk .title a:link,
table.grid .talk .title a:visited,
table.grid .talk .title a:hover,
table.grid .talk .title a:focus,
table.grid .talk .title a:active {
  background-color: inherit;
  color: #000000;
}

table.grid .speaker {
    font-style: normal;
    font-weight: normal;
}

table.grid .talk .where-when {     
    margin: 0;
    padding: 6px 5px; 
    white-space: nowrap;
}

table.grid .where-when span {
    display: inline;
}

/* Break slots */

table.grid .break {
    background-color: #ffffcc;
}


/* Empty slots */

table.grid div.empty {
    margin: 0;
    padding: 0;
}

table.grid .actions {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

table.grid .empty .where-when,
table.grid .empty .where-when a:link,
table.grid .empty .where-when a:visited,
table.grid .empty .where-when a:hover,
table.grid .empty .where-when a:focus,
table.grid .empty .where-when a:active {
    color: #444444; 
}

table.grid .empty .where-when {   
    margin: 0;
    padding: 6px 0px;
    white-space: nowrap;
}

table.grid .empty .heading {
  margin: 5px;
  background-color: #C9E2AE;
  padding: 5px 0px;
  color: #000;
}

table.grid .empty .submit {
  margin: 5px 0px;
  display: block;
}

table.grid .empty .submit a:link,
table.grid .empty .submit a:visited,
table.grid .empty .submit a:hover,
table.grid .empty .submit a:focus,
table.grid .empty .submit a:active {
  color: #fff;
}

/* On now */

table.grid td.now {
    background-color: #e0efe1;
}

/* Single time-slot view */

table.single-timeslot th p {
    text-align: center;
}

table.single-timeslot .slot {
    padding-top: 6px;
    padding-bottom: 6px;
}

table.single-timeslot p {
  text-align: left;
}

table.single-timeslot .empty .heading {
    padding-left: 3px;
}

table.single-timeslot td.now {
    background-color: #ffffff;
}

table.single-timeslot .empty .submit {
  text-align: left;
}

table.single-timeslot .where-when span,
#room .grid .timeslot .header .context {
	background-color: transparent;
	color: #000000;
	font-size: medium;
	padding: 0;
}

#room .grid .timeslot .header .context,
table.single-timeslot .empty .where-when a:link,
table.single-timeslot .empty .where-when a:visited,
table.single-timeslot .empty .where-when a:hover,
table.single-timeslot .empty .where-when a:focus,
table.single-timeslot .empty .where-when a:active {
	color: #7E2B29
}


/* VIEW: Schedule Talk
-----------------------------*/




/* VIEW: Talk
-----------------------------*/

body.talks #main {
    padding: 6px 3px;
}

body.talks #main h1 {
    margin-bottom: 0;
}

body.talks .description,
body.talks .slot-details {
    margin-top: 12px;
}

body.talks .slot-details p {
    margin-bottom: 6px;
}


/* FEATURE: Create/Edit Talk Form
-----------------------------*/

form.talk {
    margin-top: 18px;
}

body.talks #main fieldset {
    padding-right: 6px;
}


/* VIEW: Unscheduled Talks
-----------------------------*/

.talks li {
    margin-top: 6px; 
}


/* VIEW: Room
-----------------------------*/

#room .details .heading {
	margin-top: 6px;
	margin-bottom: 3px;
}

#room .grid {
	margin-top: 12px;
	margin-bottom: 12px;
}

#room .grid .timeslot {
	padding-top: 18px;
}

#room .grid .timeslot .header {
	background-color: #F5F5F5;
    color: #000000;
    font-weight: normal;
    padding: 3px;
}

#room .grid .timeslot .header .context {
	margin-bottom: 3px;
}

#room .grid .timeslot .header .time {
    margin-bottom: 6px;
}    

#room .grid .slot {
    margin-top: 18px;
}

#room .grid .slot p, 
#room .grid .slot .heading {
    margin-bottom: 6px;
    margin-top: 6px;
}

#room .grid .slot .heading {
    color: #666666;
    font-weight: bold;
}

#room .grid .actions {
	text-align: center;
}

#room .grid a, 
#room .grid a:link, 
#room .grid a:visited,
#room .grid a:hover, 
#room .grid a:focus, 
#room .grid a:active {
    color: #000000;
}

#room .grid a:link, 
#room .grid a:visited {
    text-decoration: none;
}

/* VIEW: Help
-----------------------------*/

#help #main {
	padding-bottom: 15px;
}