/* See /stylesheets/README.txt for guidelines */

/* Workarounds
-----------------------------*/

.clear {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	clear: both;	
}

/* Screenreader-friendly but uses positioning... */
.hide,
table.grid .where-when span.hide {
	margin: -5000px 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}


/* Basic background rules
-----------------------------*/

html,
body {
  background-color: #000000;
}

#main {
  background-color: #ffffff;
}


/* Basic link rules
-----------------------------*/

a:link,
a:visited,
#header .skip-to-versions a:link .title,
#header .skip-to-versions a:visited .title {	
	text-decoration: none;	
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

a:hover,
a:focus,
a:active,
#header .skip-to-versions a:hover .title,
#header .skip-to-versions a:focus .title,
#header .skip-to-versions a:active .title {
	text-decoration: none;	
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


/* Basic form rules (inc. pseudo form elements)
-----------------------------*/

fieldset {    
    border: none;
    padding: 0;
    margin: 0;
    display: block;
}

form input,
form textarea {
  width: 100%;
  padding: 3px 0;
  border-width: 1px;
  border-style: solid;
}

form .actions input {
    width: auto;
}

.field {
    margin-top: 18px;
}

.field p {
    margin-bottom: 3px;
}

form .label {
    margin-bottom: 5px;
    font-size: 110%;
    font-weight: bold;
    line-height: 110%;
}

form textarea {
  padding: 3px 0;
  font-size: 110%;
  line-height: 120%;
}

body.talks #main fieldset.actions {
	padding-right: 5px;
}

.actions {
  margin-top: 18px;
  margin-bottom: 20px;
  text-align: right; 
}

.actions p {
  border-width: 1px;
  border-style: solid;
  padding: 6px;
}

.actions span {
    line-height: 2.5;
}

input,
.actions a:link,
.actions a:visited,
.actions a:hover,
.actions a:focus,
.actions a:active {
	border: none;	
}

.actions input,
.actions a {
	font-size: small;
}

.actions input {
	padding: 5px 6px;
}

.actions a {
	padding: 6px 9px;
}


/* Layout
-----------------------------*/

#top {
	border-bottom: 3px solid #4F2918;
}

body.grid #top,
body#talk-assign #top,
body#talk-move #top {
	border-bottom: none;
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 320px;
}

#header .nav {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 310px;
    text-align: center;
}

#header .nav,
#header .branding {
    padding-bottom: 3px;
}

#header .branding a {
    margin-left: 3px;
}

#header .skip-to-versions {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9px;
    right: 9px;
}

#footer .version-switcher {
    padding-bottom: 18px;
}

#recent-changes #main,
#main {
    padding: 6px;
}


/* FEATURE: Header
-----------------------------*/

#header .branding a {
    display: block;   
    border: none;
}

#header .skip-to-versions a:link,
#header .skip-to-versions a:visited,
#header .skip-to-versions a:hover,
#header .skip-to-versions a:focus,
#header .skip-to-versions a:active {
    padding: 3px 19px 3px 0;    
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("/images/themes/default/icons/version/medium_small.png");
    border: none;

}

#header .nav li a:link span,
#header .nav li a:visited span,
#header .nav li a:hover span,
#header .nav li a:focus span,
#header .nav li a:active span,
#header .nav li.selected a:link span,
#header .nav li.selected a:visited span,
#header .nav li.selected a:hover span,
#header .nav li.selected a:focus span,
#header .nav li.selected a:active span {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#header .nav li a:link,
#header .nav li a:visited,
#header .nav li a:hover,
#header .nav li a:focus,
#header .nav li a:active {
	display: inline-block;
	padding: 3px 0; 
	text-decoration: none;
    border: none;
}


/* FEATURE: Footer
-----------------------------*/

#footer .nav .heading,
#footer .version-switcher .heading {
    margin-bottom: 3px;   
}

#footer .nav,
#footer .version-switcher {
    padding: 6px 6px 9px;
}

#footer a.selected,
#footer .selected a {
    border-bottom-style: solid;
    font-weight: bold;
}


/* FEATURE: Global Navigation
-----------------------------*/

/* In Header */

#header .nav li {
    margin: 0;
    padding: 0 6px;
    display: inline;
    font-size: 14px;
}


/* In Footer */

#footer .nav ul,
#footer .nav li {
    display: inline;
}

#footer .nav li,
#footer .version-switcher .option {
    padding-right: 5px;
}

#footer .nav li.last {
    padding: 0;
}

#footer .nav .delimiter,
#footer .version-switcher .delimiter {
    border-width: 0 1px 0 0; 
    border-style: solid;
    padding-left: 6px;
}


/* FEATURE: Scrollers
-----------------------------*/

.scroller {
    margin: 0;
    padding: 3px 0 6px;
    width: 100%;
    font-size: small;         
    border-style: solid;
    border-width: 3px 0 0 0;    
}

.scroller p {
    text-align: center;
}

.scroller a:link,
.scroller a:visited,
.scroller a:hover,
.scroller a:focus,
.scroller a:active {
	display: inline-block;
    padding: 3px 6px;
    text-decoration: none;
    border: none;
}

.scroller a span {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.scroller a.selected span {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.scroller a:hover span,
.scroller a:focus span {
    text-decoration: none;
}


/* FEATURE: Version Switcher
-----------------------------*/

.version-switcher {
    margin-top: 0;
}
.version-switcher .heading {
    font-size: small;
}


/* FEATURE: Skippers
-----------------------------*/

.skip {
    font-size: x-small;
    font-weight: normal;
}

.skip-up,
.skip-down {
    padding-left: 3px;
}

.skip-up {
    margin: 12px 0 0 0;
    padding-bottom: 0;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

.skip-up img,
.skip-down img {
    margin-right: 3px;
}

.skip-up img {
    margin-bottom: -6px;

}

#header .skip-to-versions {
    font-size: xx-small;    
}


/* FEATURE: Page Title
-----------------------------*/

#main h1 {
    font-size: 200%;
    margin: 6px 0px;
}


/* FEATURE: Informational messages
-----------------------------*/

.message {          
    margin: 6px 6px 9px 6px;
    padding: 6px;         
}

body.grid .message {
	margin-top: 6px;
}

#error_explanation ul {
  list-style-type: disc;
  list-style-position: inside;
}

#error_explanation li {
  margin: 10px 0px;
}

.message,
.message p {
    font-weight: bold;
    font-size: medium;
}

.message .actions {
	margin: 6px 0 0 0;	
	padding: 3px;	
}

body.talks #main .message fieldset.actions {
	padding-right: 3px;
}

.message .actions p {
	font-size: small;
	font-weight: normal;
	text-align: center;
}


/* FEATURE: Versions Flash
-----------------------------*/

.versions-flash p,
.versions-flash div.options {
	text-align: center;
}

.versions-flash div.options {
	height: 84px;
	width: 310px;	
	margin: 0 auto;
	padding: 0;
	margin-top: 6px;
}

.versions-flash p.option {
	display: block;
	width: auto;
	margin: 0 12px;
	padding: 0;
	float: left;
}

.versions-flash .title {
	font-size: small;
}

.versions-flash a:link,
.versions-flash a:visited,
.versions-flash a:hover,
.versions-flash a:focus,
.versions-flash a:active {
	text-decoration: none;
	border-bottom: none;
}


/* FEATURE: Grid
-----------------------------*/

body.grid #main,
#talk-assign #main,
#talk-move #main {
	padding: 0;
}

table.grid td, 
table.grid th {
    margin: 0;
    padding: 0;
    outline: 0 none;
    border-width: 1px;
    border-style: solid;
}

table.grid th {  
    /*min-width: 100px; */
    font-weight: normal;           
}

table.grid td {
	width: 8em;
    min-width: 8em;
    max-width: 10em;
}

table.multi-timeslot th.timeslot {
	padding-bottom: 3px;
}

/* Room headings */

table.grid th.room {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold; 
}

table.grid th.room .shortcode {
    font-weight: normal;
    font-size: 120%;
    margin: 0;
}

table.grid th.room .details {
	font-weight: normal;
}

table.grid .slot .where-when {
	text-align: center;
}

/* Talk */

table.multi-timeslot div.talk,
table.multi-timeslot div.empty {
    padding: 3px 6px;    
}

table.single-timeslot .talk,
table.single-timeslot .empty {
    padding: 3px 6px;
}

table.single-timeslot td.empty {
	padding: 0;
}


table.grid th .time,
table.grid th .summary {
    padding: 3px 6px;
}

table.grid th .time {
    padding-bottom: 0;
}
table.grid th .duration {
    padding-bottom: 3px;
}

table.grid th .summary .shortcode {
	padding: 6px 0;
}
table.grid th .summary .details p {
	margin-top: 3px;
}

table.grid th .time {
	font-weight: normal;
}

table.grid .speaker {
    font-style: normal;
    font-weight: normal;
}

table.grid .slot .where-when,
table.grid .slot .where-when,
table.grid .slot .heading {     
    margin:  0;
    padding: 3px 0; 
    word-wrap: break-word;
}

table.multi-timeslot .empty .where-when,
table.multi-timeslot .talk .where-when {
    white-space: nowrap;
}

table.grid .slot .where-when {
    font-weight: normal;
}

table.grid .where-when span {
    display: inline;
}

/* Break slots */

table.grid .locked .where-when {
	text-align: left;
}

/* Empty slots */

table.multi-column div.empty {
    margin: 0;
    padding: 0;
}

table.grid .actions {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}


/* Single time-slot view */

table.single-timeslot th p {
    text-align: center;
}

table.single-timeslot .slot {
    padding-top: 6px;
    padding-bottom: 6px;
}

table.single-timeslot .slot .where-when,
table.single-timeslot .slot .heading,
table.single-timeslot p {
	text-align: left;
}

table.single-timeslot .empty .heading {
    font-weight: normal;
}

table.single-timeslot .empty .submit {
  text-align: left;
}

table.single-timeslot .where-when span,
#room .grid .timeslot .header .context {
	font-size: medium;
	padding: 0;
}


/* VIEW: Talk
-----------------------------*/

body.talks #main {
    padding: 6px 3px;
}

body.talks #main h1 {
    margin-bottom: 0;
}

body.talks .description,
body.talks .slot-details,
body.talks .related {
    margin-top: 12px;
}

body.talks .slot-details p {
    margin-bottom: 6px;
}


/* FEATURE: Create/Edit Talk Form
-----------------------------*/

form.talk {
    margin-top: 18px;
}

body.talks #main fieldset {
    padding-right: 6px;
}


/* VIEW: Unscheduled Talks
-----------------------------*/

body.talks .ingress {
	margin-top: 12px;
	margin-bottom: 18px;
}

ul.talks {
	margin-bottom: 20px;	
}

ul.talks li.talk {
    margin-top: 6px; 
}

ul.talks li.talk .title {
	margin-top: 12px;
} 

ul.talks li.talk .history {
	margin-top: 3px;
} 


/* VIEW: Room
-----------------------------*/

#room .details .heading {
	margin-top: 6px;
	margin-bottom: 3px;
}

#room .grid {
	margin-top: 12px;
	margin-bottom: 12px;
}

#room .grid .timeslot {
	padding-top: 18px;
}

#room .grid .timeslot .header {
	padding: 3px;	
}

#room .grid .timeslot .header .context,
#room .grid .timeslot .header .time {
    font-weight: normal;
}

#room .grid .timeslot .header .context {
	margin-bottom: 3px;
}

#room .grid .timeslot .header .time {
    margin-bottom: 6px;
}    

#room .grid .slot {
    margin-top: 18px;
}

#room .grid .slot p, 
#room .grid .slot .heading {
    margin-bottom: 6px;
    margin-top: 6px;
}

#room .grid .actions {
	text-align: center;
}

#room .grid a:link, 
#room .grid a:visited {
    text-decoration: none;
}

#room .slot .talk .message {
	margin: 0 0 15px 0;
}

#room .slot .talk .message p {
	font-size: small;
}		


/* VIEW: Help
-----------------------------*/

#help #main {
	padding-bottom: 15px;
}