
/* Basic text rules
-----------------------------*/

body {
	font-style: normal;
}

.title {
	font-weight: bold;
}

.heading {
    font-weight: bold;
}


/* Basic link rules
-----------------------------*/

a:link,
a:visited {	
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

/* Basic List rules
-----------------------------*/




/* Basic image rules
-----------------------------*/
img,
a img {
    border: none;
}

img[alt]{
	font-size: small;
}

/* Basic form rules
-----------------------------*/
form fieldset {
    margin-bottom: 10px;
}

form .actions {
    text-align: right;
}


/* Custom features
-----------------------------*/

/* Global navigation */
#header .nav li,
#footer .nav li {
    white-space: nowrap;
}


/* VIEW: Grid
-----------------------------*/

table.grid,
table.grid td,
table.grid th {
   border-collapse: collapse;
   font-family: typeface;
   font-size: small;
   text-align: left;
   vertical-align: top;
}

table.grid .room, 
table.grid .talk {
    text-align: left;
}
table.grid .timeslot, 
table.grid .slot {
    text-align: center;
}