
/* Basic text rules
-----------------------------*/

body {
	font-style: normal;
	background-color: #ffffff;	
}

.title {
	font-weight: bold;
}

.heading {
    font-weight: bold;
}


/* Basic link rules
-----------------------------*/

a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color: #0000ff;
	background: transparent none repeat scroll 0 0; /* Bugfix: remove device default highlight */
}

a:link,
a:visited {
	color: #000080;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

/* Basic List rules
-----------------------------*/




/* Basic image rules
-----------------------------*/
img,
a img {
    border: none;
}

img[alt]{
	font-size: small;
}

/* Basic form rules
-----------------------------*/
form fieldset {
    margin-bottom: 10px;
}

form .actions {
    text-align: right;
}


/* PAGE: the grid
-----------------------------*/

#gridTable {
   border-collapse: collapse;
   font-family: typeface;
   font-size: 12px;
   text-align: left;
}

#gridTable .room, 
#gridTable .talk {
    text-align: left;
}
#gridTable .timeslot, 
#gridTable .slot {
    text-align: center;
}

.talk .speaker {
    font-weight: normal;
    font-style: italic;
}