<% @footer = true %>
<% if (@version == "s") %>
	<p class="skip-up hide"><img src="/images/arrow_up.png" class="icon" width="28" height="15" /><a href="#header" title="Skip to the top of the page">top</a></p>
<% end %>
<div id="footer"> 
	<% if (@version == "s") %>
		<p class="skip-down hide"><img src="/images/arrow_down.png" class="icon" width="28" height="15" /><a href="#version-switcher" title="Skip to the version switcher">versions</a></p>
	<% end %>
	<%= render '/shared/nav/global' %>
	<% if (@version == "s") %>		
		<p class="skip-up hide"><img src="/images/arrow_up.png" class="icon" width="28" height="15" /><a href="#header" title="Skip to the top of the page">top</a></p>
	<% end %>
	<div id="version-switcher" class="version-switcher">
		<h2 class="heading">Versions:</h2>
		<p class="options">
			<span class="option"><a href="<%= current_url(:version => 's') %>" <% if (@version == 's') %>lass="selected"<% end %>>Small</a><span class="delimiter"></span></span>
			<span class="option"><a href="<%= current_url(:version => 'm') %>" <% if (@version == 'm') %>class="selected"<% end %>>Medium</a><span class="delimiter"></span></span>
			<span class="option"><a href="<%= current_url(:version => 'l') %>" <% if (@version == 'l') %>class="selected"<% end %>>Large</a></span>
		</p>
	</div>
</div>
<% @footer = false %> 		