<div id="footer"> 
	<% if (@version == "low") %>
		<%= render '/shared/nav/global' %>
		<p class="skip-up hide"><img src="/images/arrow_up.png" width="28" height="15" /><a href="#header">Skip to top</a></p>
	<% end %>
	<% if (cookies[:avail] == "true") %>
		<div id="version-switcher" class="version-switcher">
			<h2 class="heading">Versions:</h2>
			<p class="options"><a href="<%= request.url %>" <% if (cookies[:version] != 'med' && cookies[:version] != 'high') %>class="selected" <% end %>onClick="setVersion('low');">Small</a> | <a href="<%= request.url %>"<% if (cookies[:version] == 'med') %>class="selected" <% end %> onClick="setVersion('med');">Medium</a> | <a href="<%= request.url %>"<% if (cookies[:version] == 'high') %>class="selected" <% end %> onClick="setVersion('high');">Large</a></p>
		</div>
	<% end %>
</div> 		