<% @header = true %>
<div id="header">
	<p class="branding"><a href="/"><img src="/images/themes/<%= theme %>/logo.png" alt="Event Logo" /></a></p>
	<% if (@version == "s") %>
		<p class="skip-down hide"><img src="/images/arrow_down.png" class="icon" width="28" height="15" /><a href="#options" title="Skip to site options">options</a></p>
	<% else %>
		<p class="skip-to-versions"><a href="#version-switcher"><span class="title">Version</span></a></p>
		<%= render '/shared/nav/global' %>
	<% end %>
	<span id="header-end"></span>			
</div>
<% @header = false %>