<div id="header">
	<h1 class="heading page-title"><a href="/"><span class="hide">Griddy</span></a></h1>
	<%= render '/shared/nav/global_header' %>
	<%= render '/shared/nav/version' %>
	<span id="header-end"></span>		
</div>
