<div id="top">
	<div id="header">
		<% @header = true %>
		<p class="branding"><a href="/" accesskey="h" title="Home page (h)"><img src="<%= url_for_logo %>" height="35" alt="Event Logo" /></a></p>
		<% if (@version == "s") %>
			<p class="skip-down hide"><img src="/images/themes/default/arrows/down_28x15.png" class="icon" width="28" height="15" alt="An arrow pointing downwards" /><a href="#options" title="Skip to site options">options</a></p>
		<% else %>
			<p class="skip-to-versions"><a href="#version-switcher"><span class="title">Version</span></a></p>
			<%= render '/shared/nav/global' %>
		<% end %>
		<span id="header-end"></span>
		<% @header = false %>			
	</div>
	<% if (@current_controller == 'grid' || (@current_controller == 'talks' && (@current_action == 'schedule' || @current_action == 'move'))) %><h1 class="hide heading"><%= page_title %></h1><% end %>
	<% if (cookies[:version_check] != 'true') %>
		<%= render '/shared/nav/scrollers' %>
	<% end %>
</div>	
