<!doctype html> 
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]--> 
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]--> 
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]--> 
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]--> 
<head>  
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

  <title>Griddy</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <meta name="description" content=""> 
  <meta name="author" content=""> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head> 
<body> 
	<div id="header">
		<h1>Griddy</h1>
		<p class="logo">
			<a href="/index.html" title="Select this link to return to the home page"> 
				<%= image_tag("bcl8_logo.png") %>
			</a>
		</p>
		<ul class="nav">
			<li><a href="/grid/now">Now</a></li>
			<li><a href="/grid/next">Next</a></li>
			<li><a href="/grid">View Grid</a></li>
			<li><a href="/talks/new">Add Talk</a></li>
			<li><a href="/feedback">Feedback</a></li>
		</ul>
	</div>
