<div class="tweets">
	<div class="header">
		<h2 class="heading hide">BCL9 Tweets</h2>
		<img class="pumpkin" src="/images/themes/bcl9/pumpkin.png" alt="A hollowed-out pumpkin" />
		<img class="logo" src="/images/themes/bcl9/barcamp_london_9.png" width="100%" alt="Barcamp London 9" />
	</div>
	<div class="stream">
	</div>  
</div>