/*
 * Rules that apply to all media
 */


/* Reset rules
-----------------------------*/

body {
    color: #000000; /* #000000 */
    background-color: #ffffff; /* #ffffff */
}

.heading {
    color: #cf5700; /* Updated */
}