<% 			
	next_room = ((next_slot.nil?) ? nil : next_slot.room)
	room_timeslot = "#{room.short_code}#{timeslot.id}"
	if (next_room.nil? || (@page_id == 'date-grid' && next_timeslot.nil?))
		next_room_timeslot = nil        		
	else        	
		if (slots.include?(next_slot))        	
			next_room_timeslot = "#{next_room.short_code}#{timeslot.id}"
		else
			next_room_timeslot = "#{next_room.short_code}#{next_timeslot.id}"
		end
	end	
	if (prev_room.nil? || (@page_id == 'date-grid' && prev_timeslot.nil?))
		prev_room_timeslot = nil
	else	
		if (slots.include?(prev_slot))
			prev_room_timeslot = "#{prev_room.short_code}#{timeslot.id}"
		else	        		        	        		        			
			prev_room_timeslot = "#{prev_room.short_code}#{prev_timeslot.id}"
		end        			
	end        	
%>                
<p id="<%= room_timeslot %>" class="skip skip-to-talk">
    <span class="label">Room: </span>           
    <% if (!next_room_timeslot.nil?) %>
        <a href="#<%= next_room_timeslot %>">next</a>
    <% end %>
    <% if (!next_room_timeslot.nil? && !prev_room_timeslot.nil?) %>
        <span class="delimiter"> | </span>
    <% end %>
    <% if (!prev_room_timeslot.nil?) %>
        <a href="#<%= prev_room_timeslot %>">prev</a>
    <% end %>
    <% if (!next_room_timeslot.nil? || !prev_room_timeslot.nil?) %>
        <span class="delimiter"> | </span>
    <% end %>
    <a href="#header" class="top">top</a>
</p>            