<% @odd = false %>
<% @rooms.each do | room| %>
	<% @room = room %>
	<tr class="<%= cycle("odd", "even") %>">
		<th class="room">
			<p><%= @room.name %></p>
			<p class="where-when"><span><%= @room.short_code.upcase %></span></p>
		</th>
		<% @room.slots.each do | slot| %>
			<% @slot = slot %>
			<% if (@slot.timeslot.id == @timeslot.id) %>
				<%= render 'shared/grid/slot' %>
			<% end %>		
		<% end %> 
	</tr>
<% end %>
