<% if (@page_id != "date-grid") %>
	<p class="day">
		<% if (@version == "low" && @page_id == "talk-assign") %>
			<a id="timeslot-<%= @timeslot.id %>">
		<% end %>
		<%= @timeslot.start.strftime("%A") %>
		<% if (@version == "low" && @page_id == "talk-assign") %>
			</a>
		<% end %>		
	</p>
<% end %>
<p class="time"><%= @timeslot.start.strftime("%H:%M") %>-<%= @timeslot.end.strftime("%H:%M") %></p>