<% if (@version == "low" || (@page_id != "date-grid")) %>
	<p class="day"><%= @timeslot.start.strftime("%A") %></p>
<% end %>
<p class="time">
	<% if (@version == "low" && !@is_single_timeslot) %>
		<a href="/grid/<%= @timeslot.id %>">
	<% end %>
	<%= @timeslot.start.strftime("%H:%M") %>-<%= @timeslot.end.strftime("%H:%M") %>
	<% if (@version == "low" && !@is_single_timeslot) %>
		</a>
	<% end %>
</p>