<p class="where-when">
	<% if (@page_id == "talk-assign" || @page_id == "talk-move") %>
		<label for="slot">
	<% end %>
	
	<% if (@page_id != "timeslot") 
		timeslot = @grid.timeslot(@slot.timeslot_id)
	%>
		<span class="day"><%= timeslot.start.strftime("%a") %></span>
		<span class="delimiter hide"> </span>
		<span class="start"><%= timeslot.start.strftime("%H:%M") %></span>
	<% end %>
	
	<% if (@page_id != "timeslot" && @page_id != "room-grid") %>
		<span class="delimiter hide">, </span>
	<% end %>
	
	<% if (@page_id != "room-grid") %>
		<span class="room">
		<%= link_to (@show_room_col ? @room.short_code.upcase : @room.name), :controller => "grid", :action => "room", :date => @date, :room => @room.short_code %></span>
	<% end %>
	
	<% if (@page_id == "talk-assign" || @page_id == "talk-move") %>
		</label>
	<% end %>
</p>