/* See /stylesheets/README.txt for guidelines */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(../buttons.css);

/* Custom hides (screenreader-friendly)
-----------------------------*/
.skip {
	margin: -5000px 0 0 -5000px;
	position: absolute;
	top: 0;	
	left: 0;
}


/* Basic text rules
-----------------------------*/


/* Basic form rules (inc. pseudo form elements)
-----------------------------*/

form p {
    padding-right: 6px;
}

form .label {
  line-height:1.1em;
  font-size: 1.1em;
}

form .field_with_errors input[type=text], 
form .field_with_errors textarea {
  border-width: 1px; 
  border-style: solid;
}

form input[type=text],
form textarea {  
  padding: 6px;
  border-width: 1px; 
  border-style: solid;
  height: inherit;
  font-size: 18px;   
}

.actions input,
.actions a {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

form .submit input {
    padding-left: 3px;
    padding-right: 3px;
}


/* Layout
-----------------------------*/

#top {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    position: fixed;
    left: 0;
    overflow: hidden;   
    top: 0;
}

#header {
	height: 3em;
	clear: both;
	position: relative;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	border: 0;
	padding: 0;
}

#top .scrollers {
	display: block;
	width: 100%;
	position: absolute;
	top: 3em;
	left: 0;
	clear: both;
	border: 0;
	padding: 0;
}

#body {
    margin: 0;
    padding: 0;
    border-top-width: 1px;
    border-top-style: solid;      
}

body.grid #top,
body#talk-assign #top,
body#talk-move #top {
    height: 5.5em;
}

body.grid #body,
body#talk-assign #body,
body#talk-move #body {
	margin-top: 5.5em;	
}

body #top,
body#recent-changes #top,
body#version-check #top {
	height: 3em;	
}

#body,
body#recent-changes #body,
body#version-check #body {
	margin-top: 3em;
}

#recent-changes #main,
#main {
    padding-left: 12px;
    padding-right: 12px;
}

#main h1 {
    margin: 12px 0;
    padding: 0;
}

form,
body#room #main {
    max-width: 500px;
}

.message .actions {
	max-width: none;
}

body.talks #main {
	padding-left: 12px;
	padding-right: 12px;
}


/* FEATURE: Header
-----------------------------*/

#header .branding { 
    display: block;
    width: 210px;
    height: 40px;    
    position: absolute;
    top: 0px;
    left: 0px;
}

#header .skip-to-versions a:link,
#header .skip-to-versions a:visited,
#header .skip-to-versions a:hover,
#header .skip-to-versions a:focus,
#header .skip-to-versions a:active {
    padding-right: 19px;    
    background-image: url("/images/themes/default/icons/version/large_small.png");
}


/* FEATURE: Footer
-----------------------------*/

#footer {  
  border-top-width: 3px;
  border-top-style: solid;  
  font-size: 0.9em;
}

#footer .heading,
#footer ul {
    display: inline;
}

#footer .nav .heading {
    display: none;    
}

#footer .nav,
#footer .version-switcher {
    float: none;
    text-align: left;
}


@media all and (min-width: 300px) {
    
    #footer .nav {
        float: left;
        text-align: left;
    }
    
    #footer .version-switcher {
        float: right;
        text-align: right;
    }

}

@media all and (max-width: 300px) {

    #footer .nav,
    #footer .version-switcher {
        float: none;
        text-align: center;
    }

}


/* FEATURE: Global navigation
-----------------------------*/

/* In header */

#header #core-options {  
  display: block;
  margin: 0 80px 0 210px;
  padding: 0;
  width: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

#header #core-options ul {
    display: block;
    margin: 0;
    padding: 10px 0 0 0;
}

#header .nav li {
    padding: 0 12px;
    float: left;
    white-space: nowrap;   
    font-size: 15px;
    line-height: 1.3em;
}

#header .nav li a.add {
  background-image: url("/images/themes/default/icons/add.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 22px;
}


/* FEATURE: Footer
-----------------------------*/


/* FEATURE: Version Switcher
-----------------------------*/

.version-switcher {
    padding: 6px 15px;
}

.version-switcher .heading {
  display: inline;
}

.version-switcher p {
  display: inline;
}


/* FEATURE: Timeslot scroller
-----------------------------*/

.scroller a {
  margin: 0px 0px;
  border: 0px;
  font-weight: bold;
}

.scroller span {
  margin: 0px 0px;
}


/* FEATURE: Informational messages
-----------------------------*/

.message {
    margin: 12px;
	padding: 18px 18px 18px 60px;
    background-position: 18px 17px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 1.3em;                        
}

.instructions {  
  background-image: url("/images/themes/default/icons/info.png");      
}

.notice { 
  background-image: url("/images/themes/default/icons/confirmation.png");      
}

.warning {
  background-image: url("/images/themes/default/icons/info.png");    
}

.message form {
	max-width: none;
}


/* FEATURE: Grid
-----------------------------*/

body.grid #main {
    padding: 0;
}

.single-timeslot {
  width: 100%;
  margin-top: 0px;
}


/* VIEW: Talk
-----------------------------*/

#talk .talk h1 {
  margin-bottom: 5px;
}

#talk .talk .speaker {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#talk .talk .description {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 10px;
  max-width: 500px;
}


/* FEATURE: Create/Edit Talk Form
-----------------------------*/

body.talks #main h1 {
    margin-left: 0;
    margin-right: 0;
}

body.talks #main fieldset.actions {
    padding: 0;
    border-width: 1px;
    border-style: solid;
}

body.talks #main fieldset.actions p {
	border: none;
}


/* VIEW: Help
-----------------------------*/

#help #main {
	padding-bottom: 18px;
}


/* VIEW: Room
-----------------------------*/

#room .slot .talk .message {
	padding: 9px 9px 9px 40px;
	background-position: 9px 12px;
}