/* See /stylesheets/README.txt for guidelines */

/* Basic text rules
-----------------------------*/

body {
	font-style: normal;
}

.title {
	font-weight: bold;
}

.heading {
    font-weight: bold;
}


/* Basic link rules
-----------------------------*/

a:link,
a:visited {	
	text-decoration: none;	
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

/* Basic List rules
-----------------------------*/

.bulleted {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 12px;
	padding-left: 6px;
}



/* Basic image rules
-----------------------------*/
img,
a img {
    border: none;
}

img[alt]{
	font-size: small;
}

/* Basic form rules
-----------------------------*/
form fieldset {
    margin-bottom: 10px;
}

form .actions {
    text-align: right;
}


/* FEATURE: Global Navigation
-----------------------------*/

#header .nav li,
#footer .nav li {
    white-space: nowrap;
}


/* FEATURE: Versions Flash
-----------------------------*/

.versions-flash a:link,
.versions-flash a:visited,
.versions-flash a:hover,
.versions-flash a:focus,
.versions-flash a:active {
	text-decoration: none;
}

.versions-flash a:link .title,
.versions-flash a:visited .title,
.versions-flash a:hover .title,
.versions-flash a:focus .title,
.versions-flash a:active .title {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

/* VIEW: Grid
-----------------------------*/

table.grid,
table.grid td,
table.grid th {
   border-collapse: collapse;
   font-family: typeface;
   font-size: small;
   text-align: left;
   vertical-align: top;
}

table.grid .room, 
table.grid .talk {
    text-align: left;
}
table.grid .timeslot, 
table.grid .slot {
    text-align: center;
}


p.duration {
    margin-top: 0;
    margin-bottom: 0;
    font-size: x-small;
}

/* VIEW: Help
-----------------------------*/

#help .heading {
	margin-top: 12px;
	margin-bottom: 6px;
}
#help h3 {
	font-weight: normal;
	font-style: italic;
}

ul.version-list {
	margin-left: 18px;
	list-style-type: disc;
	list-style-position: outside;	
}

ul.accesskeys {
	margin-top: 6px;
	margin-left: 6px;
}
ul.accesskeys .term {
	font-weight: bold;
	width: 3em;	
}

