/* See /stylesheets/README.txt for guidelines */

/* Basic text rules
-----------------------------*/


/* Basic form rules
-----------------------------*/
fieldset {    
    border: none;
    padding: 0 6px 0 0;
}

.field {
    margin-top: 6px;
}

.field p {
    margin-bottom: 3px;
}

.field input,
.field textarea {
  width: 100%;
}

.actions span {
    line-height: 2.5;
}

.actions {
    margin-top: 18px;
    margin-bottom: 6px;
    padding: 0;
    border: 1px solid #f5f5f5;
    padding: 3px 6px;
    text-align: right;
}

.actions a {
    padding: 6px 6px;    
    font-size: small;
    font-weight: normal;
    white-space: nowrap;
}


/* Basic list rules
-----------------------------*/

.bulleted li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 3px;
    padding-left: 3px;
}


/* Layout
-----------------------------*/

#header {
    margin-bottom: 0;
    padding-bottom: 3px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

#header .branding {
	border-bottom-width: 6px;
	border-bottom-style: solid;
}

#body {
    margin-bottom: 18px;
}

#footer {
    margin: 0;    
}

#core-options,
#options {
    margin-top: 12px;
}

#core-options,
#options,
.version-switcher {
    padding: 3px;
}

#main {
    padding: 0 6px;
}


/* FEATURE: Header
-----------------------------*/

#header .branding a:link,
#header .branding a:visited,
#header .branding a:hover,
#header .branding a:focus,
#header .branding a:active {
	display:block;
	padding: 0 3px;
}

.branding {
	background: transparent url('/images/themes/default/icons/version/small_small_padded.png') scroll no-repeat top right;
}

/* FEATURE: Footer
-----------------------------*/

#footer {
    border-top-width: 12px;
    border-top-style: solid;
}

.nav .heading,
.version-switcher .heading {
    margin-bottom: 3px;   
}


/* FEATURE: Global Navigation
-----------------------------*/

.nav .heading {
    font-size: medium;
}
.nav li {
    margin-top: 3px;
    margin-bottom: 3px;
}


/* FEATURE: Scrollers
-----------------------------*/

.scroller {
    width: 100%;
    font-size: small;   
    margin: 0;
    border-style: solid;
    border-width: 1px 0 1px 0;
}
.scroller p {
    text-align: center;
}
.scroller a {
	display: inline-block;
	padding: 3px 0;
}
.scroller .selected {
    font-weight: bold;
    text-decoration: underline;        
}


/* FEATURE: Version Switcher
-----------------------------*/

.version-switcher {
    margin-top: 0;
    padding: 6px 6px 18px 6px;
}

.version-switcher .heading {
    font-size: small;
}

.version-switcher .selected {
    text-decoration: underline;
    font-weight: bold;
}

#footer .version-switcher .option {
    padding-right: 3px;
}

#footer .version-switcher .delimiter {
    border-width: 0 1px 0 0; 
    border-style: solid;
    padding-left: 6px;
}


/* FEATURE: Skippers
-----------------------------*/

.skip {
    font-size: x-small;
    font-weight: normal;
}

.skip-up,
.skip-down {
    padding-left: 3px;
}

#main .skip-up,
#main .skip-down {
    padding-left: 0;
}

.grid .skip img {
    margin-right: 2px;
}

.skip-up {
    margin: 12px 0 0 0;
    padding-bottom: 0;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

.skip-up img,
.skip-down img {
    margin-right: 3px;
}

.skip-up img {
    margin-bottom: -4px;
}

.skip-to-empty-last {
    margin-top: 0;
    margin-bottom: 6px;
}


/* FEATURE: Page Title
-----------------------------*/


h1 {
    font-size: large;
	margin-top: 6px;
    margin-bottom: 12px;
}

#top h1 {
	margin: 3px 6px;
}


/* FEATURE: Informational messages
-----------------------------*/

.message {      
    padding: 6px;    
    margin: 0 0px 9px 0px;
}    
   

.message,
.message p {    
    font-weight: bold;
    font-size: medium;                   
}

.message .actions {
	margin: 6px 0 0 0;	
	padding: 3px;	
}

.message .actions p {
	font-size: small;
	font-weight: normal;
	text-align: center;
}


/* FEATURE: Versions Flash
-----------------------------*/

.versions-flash p {
	text-align: center;
	margin-bottom: 6px;
}
.versions-flash .title {
	font-size: small;
}


/* VIEW: Talk
-----------------------------*/

body.talks #main h1 {
    margin-bottom: 0;
}

body.talks .description,
body.talks .slot-details,
body.talks .related {
    margin-top: 12px;
}

body.talks .slot-details p {
    margin-bottom: 6px;
}


/* FEATURE: Grid
-----------------------------*/

div.grid {
	margin-top: 12px;
	padding-top: 0;
    padding-bottom: 12px;
}

div.grid hr {
	margin: 0;
	padding: 0;
}

div.grid .timeslot .header {  
    font-weight: normal;
    padding: 3px;    
}

div.grid .timeslot {
	padding: 0 0 18px 0;
}

div.grid .timeslot .header .day,
div.grid .timeslot .header .context {
    font-size: medium;
    font-weight: bold;
}

div.grid .timeslot .header .time {
    margin-bottom: 0;
    font-size: medium;
}

.grid .slot .empty .heading {
	font-weight: normal;
}

div.grid .slot,
body.talks ul.talks li.talk {
    margin-top: 12px;
}

div.grid .talk,
div.grid .empty,
body.talks ul.talks div.talk  {
    border-width: 1px;
    border-style: solid;
    padding: 3px;
}

.slot p,
.slot .heading,
body.talks ul.talks p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.grid .slot .empty {
    margin: 6px 0 0;
}

.grid .slot .actions {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 3px;
    border-width: 1px;
    border-style: solid; 
}

.grid .talk .where-when .start,
.grid .empty .where-when .start {
	font-size: x-small;
}


/* VIEW: Room
-----------------------------*/

#room .details .heading {
	margin-top: 6px;
	margin-bottom: 3px;
}

#room .grid {
	margin-top: 12px;
	padding-bottom: 0;
}

#room div.grid .slot {
	margin-bottom: 18px;
} 

#room .slot .talk .message p {
	font-size: small;
}	

#room div.grid .timeslot {
	padding: 0;
}

/* VIEW: All Talks, Unscheduled Talks
-----------------------------*/ 

body.talks .ingress {
	margin-top: 12px;
	margin-bottom: 18px;
}

body.talks ul.talks p.history {
	margin-bottom: 0;
	color: #333333;
	font-size: x-small;
}

body.talks ul.talks div.talk .title a:link,
body.talks ul.talks div.talk .title a:visited,
body.talks ul.talks div.talk .title a:hover,
body.talks ul.talks div.talk .title a:focus,
body.talks ul.talks div.talk .title a:active {
	color: #CF5700;
}