/* Basic text rules
-----------------------------*/

body, td, th {
    color: #666666; /* #666666 */
}


/* Custom features
-----------------------------*/

/* Version switcher */
/* Footer nav options */
.version-switcher .options,
#footer .nav {
    color: #cccccc; /* #cccccc */
}

/* Version switcher */
.version-switcher .skip {
    color: #cccccc; /* #cccccc */
}


/* VIEW: the grid
-----------------------------*/

.talk .options a:link,
.talk .options a:visited,
.talk .options a:hover,
.talk .options a:focus,
.talk .options a:active {
    color: #999999; /* #999999 */
}

.where-when {
    color: #555555; /* #555555 */
}