<div id="options" class="nav">
	<h2 class="heading hide">Options: <span class="skip">[Skip: <a href="#header">up</a><span class="delimiter"> | </span><a href="#version-switcher">down</a>]</span></h2>
	<ul>
		<li<% if (current_page?(:action => 'index', :controller => 'grid') || request.url == root_url) %> class="selected"<% end %>>
			<a href="/grid">View Grid</a>
		</li>
		<% if (@talks_taking_place) %>
			<li<% if (current_page?(:action => 'now', :controller => 'grid')) %> class="selected"<% end %>>
				<a href="<%= url_for grid_now_path %>">On Now</a>
			</li>
		<% end %>
		<li<% if (current_page?(:action => 'next', :controller => 'grid')) %> class="selected"<% end %>>
			<a href="/grid/next">On Next</a>
		</li>
		<li<% if (current_page?(:action => 'new', :controller => 'talks')) %> class="selected"<% end %>>
			<a href="/talks/new" class="add">Add a Talk</a>
		</li>
		<% if (@version == "low") %>
			<li>
				<a href="/admin">TEMP:ADMIN</a><% if (cookies[:version] == 'high') %> | <% end %>
			</li>		
			<li>
				<a href="/feedback">Feedback</a><% if (cookies[:version] == 'high') %> | <% end %>
			</li>
			<li>
				<a href="/help">Help</a>
			</li>	
		<% end %>	
	</ul>	
</div>