<ul class="nav">
	<li<% if (current_page?(:action => 'now', :controller => 'grid')) %> class="selected"<% end %>><%= link_to "Now", grid_now_path unless @talks_taking_place %></li>
	<li<% if (current_page?(:action => 'next', :controller => 'grid')) %> class="selected"<% end %>><a href="/grid/next">Next</a></li>
	<li<% if (current_page?(:action => 'index', :controller => 'grid')) %> class="selected"<% end %>><a href="/grid">View Grid</a></li>
	<li<% if (current_page?(:action => 'new', :controller => 'talks')) %> class="selected"<% end %>><a href="/talks/new">Add Talk</a></li>
	<li><a href="/feedback">Feedback</a></li>
</ul>