<ul class="nav">
	<li<% if (current_page?(:action => 'index', :controller => 'grid')) %> class="selected"<% end %>><a href="/grid">Home</a><% if (cookies[:version] == 'high') %> | <% end %></li>
	<li><a href="/admin">TEMP:ADMIN</a><% if (cookies[:version] == 'high') %> | <% end %></li>
	<li><a href="/feedback">Feedback</a><% if (cookies[:version] == 'high') %> | <% end %></li>
	<li><a href="/help">Help</a></li>		
</ul> 