<div class="nav">
	<h2 class="heading hide">Options: <span class="skip">[<a href="#header-end">skip</a>]</span></h2>
	<ul>
		<li<% if (current_page?(:action => 'index', :controller => 'grid') || request.url == root_url) %> class="selected"<% end %>>
			<a href="/grid">Grid</a>
		</li>
		<% if (@talks_taking_place) %>
			<li<% if (current_page?(:action => 'now', :controller => 'grid')) %> class="selected"<% end %>>
				<a href="<%= url_for grid_now_path %>">Now</a>
			</li>
		<% end %>
		<li<% if (current_page?(:action => 'next', :controller => 'grid')) %> class="selected"<% end %>>
			<a href="/grid/next">Next</a>
		</li>
		<li<% if (current_page?(:action => 'new', :controller => 'talks')) %> class="selected"<% end %>>
			<a href="/talks/new" class="add">Add a Talk</a>
		</li>
	</ul>	
</div>