<% if (!@timeslot.nil?) %>
	<% 
		timeslot_prev = @timeslot.prev
		timeslot_next = @timeslot.next
	%>
	<div class="scroller timeslot-scroller">
		<p class="options">
			<% if (timeslot_prev) %>
				<a href="<%= url_for(:controller => "grid", :action => "show", :id => timeslot_prev.id) %>"><span class="arrows">&lt;&lt </span>Earlier</a>
			<% end %>
			<% if (timeslot_prev && timeslot_next) %> | <% end %>
			<% if (timeslot_next) %>
				<a href="<%= url_for(:controller => "grid", :action => "show", :id => timeslot_next.id) %>">Later<span class="arrows"> &gt;&gt</span></a>
			<% end %>
		</p>
	</div>
<% end %>