<h1 class="heading">All Rooms</h1>
<% if (@rooms.count > 0) %>
<ul class="bulleted">
	<% @rooms.each do |room| %>
		<li class="room">
			<p><a href="<%= url_for :controller => "rooms", :action => "show", :room => room.short_code %>"><%= room.name %></a></p>
		</li>
	<% end %>
</ul>			
<% else %>
	<p>Where's it all happening?</p>
<% end %>