<div class="room">
	<h1 class="heading"><% if (@room.name.nil?) %><%= @room.id %><% else %><%= @room.name %><% end %></h1>
	<div class="description">
		<h2 class="label">Description:</h2>
 		<p><%= @room.description %></p>
	</div>
</div>

<p class="options">
	<%= link_to 'Edit', edit_talk_path(@room) %>
</p>