/* Custom features
-----------------------------*/

/* Logo */
#header .page-title a {    
    background-image: url('/images/barcampmediacity-360.png');
    background-repeat: no-repeat;    
}

/* Scroller */
.scroller .arrows {
    color: #7f221f; /* #777777 */
}


/* VIEW: the grid
-----------------------------*/

.where-when span {
    background-color: #f9eeee; /* #f5f5f5 */
}