/* Basic form rules
-----------------------------*/

.submit input,
.scroller a,
.scroller a:link,
.scroller a:visited {	
	color: #000000; /* #000000 */
	border-color: #edc9c8; /* #dddddd */
	background: #f6e4e4; /* #eeeeee */
}

.submit input:hover,
.submit input:focus,
.scroller a:hover,
.scroller a:focus {
	background: #edc9c8; /* #dddddd */
}

.submit input:active,
.scroller a:active {
	color: #7e2b29; /* #555555 */
}


/* Custom features
-----------------------------*/

/* Logo */
#header .page-title a {    
    background-image: url('/images/barcampmediacity-360.png');
    background-repeat: no-repeat;    
}

/* Scroller */
.scroller .arrows {
    color: #7f221f; /* #777777 */
}


/* VIEW: the grid
-----------------------------*/

#gridTable tr.even{
	background-color: #fdf9f8; /* #fcfcfc */
}

.where-when span {
    background-color: #f9eeee; /* #f5f5f5 */
}