/* Custom features
-----------------------------*/

/* Logo */

#header .page-title {
  width: 200px;
}

#header .page-title a {    
    background-image: url('/images/barcampmediacity-360.png');
}


/* VIEW: the grid
-----------------------------*/

.where-when span {
    padding: 3px;
    background-color: #f9eeee; 
    color: #7e2b29;
}

td .options a {
  padding: 3px;
  background-color: #eee; 
  color: #555;
}