/* Basic text rules
-----------------------------*/

body, td, th {
    color: #963331; /* #666666 */
}


/* VIEW: the grid
-----------------------------*/

.talk .options a:link,
.talk .options a:visited,
.talk .options a:hover,
.talk .options a:focus,
.talk .options a:active {
    color: #cb6664; /* #999999 */
}

.where-when {
    color: #7e2b29; /* #555555 */
}