/* Basic link rules
-----------------------------*/
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: #000000; /* #000000 */
}


/* VIEW: the grid
-----------------------------*/

.talk .options a:link,
.talk .options a:visited,
.talk .options a:hover,
.talk .options a:focus,
.talk .options a:active {
    background-color: #ddd; /* #999999 */
    color: #7e2b29;
    padding: 2px;
    text-decoration: underline;
}

.where-when {
    color: #7e2b29; /* #555555 */
}