/*
 * Rules that apply to all media
 */

/* Reset rules
-----------------------------*/
body,
h1, h2, h3, h4, h5, h6,
div, p, li, 
img {
    margin:0;
    padding:0;
}
ul, ol {
    margin-top:0;
    margin-bottom:0;
    list-style: none;
}
body {
    line-height: 1.25;
}
ol, ul {
    margin: 0; 
    padding: 0;
}

body,
h1, h2, h3, h4, h5, h6,
div, p, li, th, td {  
    font-family: 'Lucida Sans', 'Lucida Grande', arial, helvetica, sans-serif;
    font-size: small;
}

em.accesskey {
	font-style: normal;
}

/* Debug aids 
-----------------------------*/
