<div class="timeslot">
	<h1 class="heading"><%= @timeslot.name %></h1>
	<p><span class="label">Start:</span> <%= @timeslot.start %></p>
	<p><span class="label">End:</span> <%= @timeslot.end %></p>
</div>

<p class="options">
	<%= link_to 'Edit', edit_timeslot_path(@timeslot) %>
</p>