/* Basic text rules
-----------------------------*/

body, td, th {
    color: #e64c00; /* #666666 */
}

/* Basic link rules
-----------------------------*/

a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color: #4e1900; /* #000000 */
	background: transparent none repeat scroll 0 0; /* Bugfix: remove device default highlight */
}

a:link,
a:visited {
	color: #4e1900; /* #000000 */
}

/* Custom features
-----------------------------*/

/* Version switcher */
/* Footer nav options */
.version-switcher .options,
#footer .nav {
    color: #ffbd9d; /* #cccccc */
}

/* Version switcher */
.version-switcher .skip {
    color: #ffbd9d; /* #cccccc */
}


/* VIEW: the grid
-----------------------------*/

.talk .options a:link,
.talk .options a:visited,
.talk .options a:hover,
.talk .options a:focus,
.talk .options a:active {
    color: #ff8142; /* #999999 */
}

.where-when {
    color: #c84200; /* #555555 */
}