/* Basic link rules
-----------------------------*/

a:link,
a:visited,
#header .skip-to-versions a:link .title,
#header .skip-to-versions a:visited .title {	
    border-bottom-color: #999999; /* ws */
}

a:hover,
a:focus,
a:active,
#header .skip-to-versions a:hover .title,
#header .skip-to-versions a:focus .title,
#header .skip-to-versions a:active .title {	
	border-bottom-color: #999999; /* ws */
}


/* Basic form rules (inc. pseudo form elements)
-----------------------------*/

form input,
form textarea {
  border-color: #cccccc; /* ws */
}

.actions p {
  border-color: #cccccc; /* ws */
}

.actions a {
    background-color: #dddddd; /* wc */
    color: #333333; /* ws */    
}

input.green,
.actions a.green {     
    background-color: #99cc33; /* wc */
    color: #ffffff;    
}

input.orange,
.actions a.orange {
    background-color: #FF8C00; /* wc */
    color: #ffffff;
}


/* FEATURE: Header
-----------------------------*/

#top,
#header {
    background-color: #3a261d;
}

#header .skip-to-versions a:link,
#header .skip-to-versions a:visited,
#header .skip-to-versions a:hover,
#header .skip-to-versions a:focus,
#header .skip-to-versions a:active {
    background-color: inherit;
    color: #dddddd; /* wc */
    background-color: transparent;   
}

/* Logo */
#header .page-title a {    
    background-image: url('/images/themes/mediacity/logo.png');
    background-repeat: no-repeat;    
}


/* FEATURE: Footer
-----------------------------*/

#footer .nav,
#footer .version-switcher {
    background-color: #000000;
    color: #ffffff;
}

#footer .heading,
#footer .nav a:link,
#footer .nav a:visited,
#footer .nav a:hover,
#footer .nav a:focus,
#footer .nav a:active,
.version-switcher a:link,
.version-switcher a:visited,
.version-switcher a:hover,
.version-switcher a:focus,
.version-switcher a:active {
    background-color: inherit;
    color: #ffffff;
}


/* FEATURE: Global Navigation
-----------------------------*/

/* In Footer */

#footer .nav .delimiter,
#footer .version-switcher .delimiter {
    border-color: #666666; /* ws */
}


/* FEATURE: Scrollers
-----------------------------*/

.scroller {
    background-color: #000000;
    color: #fcfcfc; /* ! */
    border-color: #4f2918; /* ! */
}

.scroller a:link,
.scroller a:visited,
.scroller a:hover,
.scroller a:focus,
.scroller a:active {
    background-color: inherit;
    color: #ffffff;
}

.scroller a span {
    border-bottom-color: #000000;
}


/* FEATURE: Skippers
-----------------------------*/


.skip-up {
    border-bottom-color: #000000;
}


/* FEATURE: Informational messages
-----------------------------*/

.message {          
    background-color: #C9E2AE; /* ! */      
}

.instructions {   
  background-color: #99cc99; /* ws */   
}

.warning {
  	background-color: #F9EEEE; /* WS */
}


/* FEATURE: Grid
-----------------------------*/

table.grid td, 
table.grid th {
    border-color: #cccccc; /* WS */
}

table.grid th {  
    background-color: #f5f5f5; /* WC */
    color: #000000;       
}

table.grid tr.even th,
table.grid th.odd {
    background-color: #eeeeee; /* ! */
}

table.grid tr.even {
  background-color: #fafafa; /* ! */
}

table.grid tr.odd {
  background-color: #ffffff;
}

/* Room headings */

table.grid th.room .heading a:link,
table.grid th.room .heading a:visited,
table.grid th.room .heading a:hover,
table.grid th.room .heading a:focus,
table.grid th.room .heading a:active {
  background-color: inherit;
  color: #CC3300; /* ws */
}

/* Dark Brown */
#room .grid .timeslot .header .context,
table.grid th.room .shortcode {
	color: #663333; /* ws */
}

/* Talk */

table.grid .talk .title a:link,
table.grid .talk .title a:visited,
table.grid .talk .title a:hover,
table.grid .talk .title a:focus,
table.grid .talk .title a:active {
  background-color: inherit;
  color: #000000;
}

/* Break slots */

table.grid .locked {
    background-color: #ffffcc; /* ws */
}

/* Empty slots */

table.grid .empty .where-when,
table.grid .empty .where-when a:link,
table.grid .empty .where-when a:visited,
table.grid .empty .where-when a:hover,
table.grid .empty .where-when a:focus,
table.grid .empty .where-when a:active {
    color: #333333; /* ws */
}


/* On now */

table.grid td.now {
    background-color: #e0efe1; /* ! */
}

/* Single time-slot view */

table.single-timeslot td.now {
    background-color: #ffffff;
}

table.single-timeslot .where-when span,
#room .grid .timeslot .header .context {
	background-color: transparent;
	color: #000000;
}


table.single-timeslot .empty .where-when a:link,
table.single-timeslot .empty .where-when a:visited,
table.single-timeslot .empty .where-when a:hover,
table.single-timeslot .empty .where-when a:focus,
table.single-timeslot .empty .where-when a:active {
	color: #cc6600; /* ws */
}



/* VIEW: Room
-----------------------------*/

#room .grid .timeslot .header {
	background-color: #F5F5F5; /* wc */
    color: #000000;
}




/* Links */


#room .grid a:link, 
#room .grid a:visited,
#room .grid a:hover, 
#room .grid a:focus, 
#room .grid a:active {
    color: #000000;
}

#header .nav,
#header .nav a:link,
#header .nav a:visited,
#header .nav a:hover,
#header .nav a:focus,
#header .nav a:active {
    background-color: inherit;
    color: #ffffff;
}

.scroller a.selected span,
#header .nav li.selected a:link span,
#header .nav li.selected a:visited span {
	border-bottom-color: #ff9900; /* ws */
}

#header .nav li a:link span,
#header .nav li a:visited span,
#header .nav li a:hover span,
#header .nav li a:focus span,
#header .nav li a:active span {
    border-bottom-color: transparent;
}

#header .nav li a:hover span,
#header .nav li a:focus span,
#header .nav li a:active span,
#header .nav li.selected a:hover span,
#header .nav li.selected a:focus span,
#header .nav li.selected a:active span,
.scroller a:hover span,
.scroller a:focus span,
.scroller a:active span {
    border-bottom-color: #ffffff;
}

#header {
	background: transparent url('/images/themes/bcl9/glow.jpg') scroll no-repeat -90px -225px;
}

/* FEATURE: Create/Edit Talk Form
-----------------------------*/

fieldset.details #char_count {
  display: inline-block;
  float: right;
}
