<h1 class="heading">		
	<% if (@talk.title.nil?) %>[Untitled]<% else %><%= @talk.title %><% end %>
</h1> 
<p class="speaker">
	<span class="label">Speaker: </span>
	<%= @talk.speaker unless @talk.speaker.nil? %>
</p>
<% if (!@talk.description.nil?) %>
	<p class="description"><%= @talk.description %></p>
<% end %>		